{% extends 'top navbar/top-navbar.html' %} {% block title %} Manage Companies {%
endblock %} {% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/products.css') }}" />




<!-- ESTILO PARA LAS TOAST WARNING-->
<style>
  /* Estilo personalizado para el toast */
  #toastContainer .toast {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.75rem;
    background-color: #f8f9fa;
    /* Color de fondo similar al de las alertas de Apple */
    border: 1px solid rgba(0, 0, 0, 0.125);
    /* Borde similar al de las alertas de Apple */
    color: #212529;
    /* Color del texto */
    border-radius: 4px;
  }

  /* Estilo para el título del toast */
  #toastContainer .toast-header {
    background-color: #ffc107;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  /* Estilo para el cuerpo del toast */
  #toastContainer .toast-body {
    padding: 0.5rem 0;
  }

  /* Estilo para el botón de cerrar el toast */
  #toastContainer .btn-close {
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0 0.25rem auto;
  }
</style>

<!-- ESTILO PARA LAS TOAST SUCCESS-->
<style>
  /* Estilo personalizado para el toast con ID toastContainerSuccess */
  #toastContainerSuccess .toast {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.75rem;
    background-color: #f8f9fa;
    /* Color de fondo similar al de las alertas de Apple */
    border: 1px solid rgba(0, 0, 0, 0.125);
    /* Borde similar al de las alertas de Apple */
    color: #212529;
    /* Color del texto */
    border-radius: 4px;
  }

  /* Estilo para el título del toast */
  #toastContainerSuccess .toast-header {
    background-color: #4cd964;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  /* Estilo para el cuerpo del toast */
  #toastContainerSuccess .toast-body {
    padding: 0.5rem 0;
  }

  /* Estilo para el botón de cerrar el toast */
  #toastContainerSuccess .btn-close {
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0 0.25rem auto;
  }
</style>

<!-- ESTILOS PARA EL CONTENEDOR DEL SPINNER Y EL SPPNNER-->
<style>
  #spinner-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo opaco */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Asegura que el spinner esté por encima de todo */
  }

  #spinner {
    z-index: 1001;
    /* Asegura que el spinner esté por encima del fondo opaco */
  }
</style>

<!-- CUERPO -->
<section class="ventas">
  {% include 'top navbar/top-width-navbar.html' %}


  <div class="ventas__container">

    <h2 class="titulo-inventario">Vender</h2>
    <p class="desc-inventario">Aquí tendrás todo lo necesario para administrar tus transacciones y maximizar tus ventas.

    </p>

    <div class="container">
      <div class="row">
      
        <div class="col-md col-lg-6 my-2">
        </div>
      </div>
    </div>
    <!-- Utilizamos clases de Bootstrap para diseño responsivo y espaciado -->
    <div class="row">
      <div class="col-md-5">


        <div class="btn-group mt-2 d-none" role="group" aria-label="Basic outlined">
          <button type="button" class="btn btn-outline-secondary">Left</button>
          <button type="button" class="btn btn-outline-secondary">Middle</button>
          <button type="button" class="btn btn-outline-secondary">Right</button>
          <button type="button" class="btn btn-outline-secondary">Right</button>
          <button type="button" class="btn btn-outline-secondary">Right</button>
        </div>


        <div
          class="buttons mt-3 border border-Tertiary p-3 rounded d-flex flex-wrap justify-content-center align-items-center"
          style="max-height: 600px; overflow-y: auto; background-color: rgba(245, 245, 245, 0.797);">
          {% for product in products %}
          <div class="col mb-2 d-flex justify-content-center align-items-center ">
            <a class="btn custom-btn mx-1 product-btn " data-id="{{ product[0] }}" data-name="{{ product[1] }}"
              data-price="{{ product[2] }}" data-amount="{{ product[3] }}" data-status="{{ product[4] }}"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="ID: {{ product[0] }} &#10;Nombre: {{ product[1] }} &#10;Precio: {{ product[2] }}$ &#10;Stock: {{ product[3] }} &#10;Estado: {{ product[4] }}">
              <div class="d-flex flex-column align-items-center  ">
                <i class="bi bi-archive-fill"></i>
                <!-- <span class="material-symbols-outlined"> inventory_2 </span> -->
                <span class="product-name"> {{ product[1] }} </span>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-7 mt-3 flex-wrap justify-content-center align-items-start">
        <div class="container mb-1">
          <div class="row">
            <div class="col-md-8">
              <!-- Columna para los totales -->
              <div class="total-container d-flex justify-content-start mt-1">
                <h6 id="totalSum"></h6>
              </div>

              <div class="total-container d-flex justify-content-start mt-1">
                <h6 id="totalSumIVA"></h6>
              </div>

              <div class="total-container d-flex justify-content-start mt-1">
                <h6 id="totalSumALL"></h6>
              </div>


            </div>

            <div class="col-md-4 d-flex align-items-end justify-content-end">
              <!-- Columna para el botón -->
              <div class="total-container d-flex justify-content-end mt-1">
                <button class="btn d-none btn-outline-secondary w-100" id="updateTotalButton">
                  <span id="spinner-total" class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
                  Actualizar total
                </button>
              </div>
            </div>

            <form>
              <div class="form-group row ">
                <label for="paymentInput" class="col-sm-4 col-form-label">Pago en efectivo</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="number" class="form-control" id="paymentInput" min="1" maxlength="6"
                      placeholder="Ingrese la cantidad" oninput="validateInput()" />
                    <span class="input-group-text" id="basic-addon1">$</span>
                  </div>
                </div>
              </div>
            </form>

            <div class="total-container d-flex justify-content-start mt-1">
              <h6 id="cambiocliente"></h6>
            </div>


          </div>
        </div>
        <button id="addSale" type="button" class="btn btn-success w-100" disabled>
          <span data-section="Sale" data-value="Make sale">Realizar Venta</span>
        </button>
        <!--Pa que no salga-->
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto">
          <!--Tabla de cambio-->
          <table id="saleTable" class="table table-bordered table-striped table-rounded mb-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">
                  <span data-section="Sale" data-value="Name">Nombre</span>
                </th>
                <th scope="col">
                  <span data-section="Sale" data-value="Quantity">Cantidad</span>
                </th>
                <th scope="col">
                  <span data-section="Sale" data-value="Price">Precio</span>
                </th>
                <th scope="col">
                  <span data-section="Sale" data-value="Actions">Acciones</span>
                </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <!-- Aquí se añadirán dinámicamente las filas de los productos -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>













<!-- TOAST DE ALERTAS-->
<div id="toastContainer" aria-live="assertive" aria-atomic="true" class="mt-5 position-fixed p-3 end-0 bottom-0"></div>

<!-- TOAST DE SUCESS-->
<div id="toastContainerSuccess" aria-live="assertive" aria-atomic="true" class="mt-5 position-fixed p-3 end-0 bottom-0">
</div>

<!-- Spinner -->
<div id="spinner-container" style="display: none">
  <div class="spinner-border text-light" style="width: 3rem; height: 3rem" role="status" id="spinner">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- Modal HTML -->
<div class="modal fade" id="deleteConfirmationModal" data-bs-backdrop="static" tabindex="-1"
  aria-labelledby="deleteproductlabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmar eliminación</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="alert alert-warning" role="alert">
        ¿Estas seguro de eliminar este producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Cerrar
        </button> <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<!-- DIV OCULTO PARA GUARDAR LOS MENSAJES -->
<div id="flash-messages" style="display: none;">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!-- MOTAL PARA MOSTRAR FLASH -->
<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flashModalLabel">Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="flashModalBody">
        <!-- LOS MENSAJES SE MOSTRARAN AQUI -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="../../static/Js/ventas.js"></script>

{% endblock %}