{% extends 'top navbar/top-navbar.html' %}
{% block title %} Reporte de ventas {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/products.css') }}" />

<section class="reporteVentas">



  {% include 'top navbar/top-width-navbar.html' %}

  <div class="reporteVentas__container">
    <h2 class="titulo-inventario">Reporte de ventas</h2>
    <p class="desc-inventario">Accede a los informes detallados de tus ventas y análisis de rendimiento

    </p>
    <div class="col-lg-12 my-2">
      <div class="table-container">
        <table class="tabla">
          <thead class="tabla-encabezado">
            <tr>
              <th scope="col">ID</th>
              <th scope="col"><span data-section="warehouse" data-value="Date">Fecha</span></th>
              <th scope="col"><span data-section="warehouse" data-value="Number of items">Nº de items</span>
              </th>
              <th scope="col"><span data-section="warehouse" data-value="Total">Total</span></th>
              <th scope="col"><span data-section="warehouse" data-value="Actions">Acciones</span></th>
            </tr>
          </thead>
          <tbody class="tabla-cuerpo">
            {% for sale in sales %}
            <tr>
              <th scope="row">{{ sale[0] }}</th>
              <td>{{ sale[1] }} {{ sale[2] }} {{ sale[3] }}</td>
              <td>{{ sale[4] }}</td>
              <td>{{ sale[5] }}</td>
              <td class="text-center d-flex justify-content-center align-items-center">
                <form action="{{ url_for('sales.reportsales') }}" method="POST">
                  <input type="hidden" name="sale_id" value="{{ sale[0] }}">
                  <button type="submit" class="btn btn-secondary mx-2">
                    <i class="bi bi-pencil-square"></i>

                    <!-- <span class="material-symbols-outlined">edit_square</span> -->
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-12 my-2">
      {% if details %}
      <div class="table-container">
        <h3>Sale Details</h3>
        <table class="table table-bordered table-striped table-rounded mb-3">
          <thead>
            <tr>
              <th scope="col">Product ID</th>
              <th scope="col"><span data-section="warehouse" data-value="Product Name">Product Name</span></th>
              <th scope="col"><span data-section="warehouse" data-value="Quantity">Quantity</span></th>
              <th scope="col"><span data-section="warehouse" data-value="Amount">Amount</span></th>
              <th scope="col"><span data-section="warehouse" data-value="IVA">IVA</span></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for detail in details %}
            <tr>
              <td>{{ detail[0] }}</td>
              <td>{{ detail[1] }}</td>
              <td>{{ detail[2] }}</td>
              <td>{{ detail[3] }}</td>
              <td>{{ detail[4] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="flex-graficos">
    <div id="container" style="width:80%; height:420px; margin-top: 20px;"></div>
    <!--Promdeio de ventas mes -->
    <div id="promedio_ventas_mes" style="width:80%; height:420px; margin-top: 20px;"></div>
    <!-- Div para el gráfico de ventas diarias -->
    <div id="ventas_diarias_chart" style="width:80%; height:400px; margin-top: 20px;"></div>

  </div>


  </div>

</section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const monthlySalesData = {{ ventas_mensuales | tojson | safe }};

    // Definir colores para cada mes (puedes personalizarlos a tu gusto)
    const colors = [
      '#FF5733', '#33FF57', '#3357FF', '#FF33A1', '#FF8C33', '#33FFF7',
      '#F7FF33', '#FF33D4', '#33FF8C', '#8C33FF', '#FF5733', '#33FF57'
    ];

    const chart = Highcharts.chart('container', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Ventas por Mes'
      },
      xAxis: {
        categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
      },
      yAxis: {
        title: {
          text: 'Número de Ventas'
        }
      },
      series: [{
        name: 'Ventas',
        data: monthlySalesData.map((data, index) => {
          return {
            y: data[1], // Valor de las ventas
            color: colors[index] // Asignar color del mes
          };
        })
      }]
    });
  });
  </script>

  <!--Gradfico dos-->

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Datos de promedio de ventas mensuales desde Flask
      const promedioVentasMensuales = {{ promedio_ventas | tojson }};

    // Convertimos los datos en el formato adecuado para el gráfico de pie
    const dataForPieChart = promedioVentasMensuales.map(item => {
      const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
      return { name: monthNames[item[0] - 1], y: item[1] };
    });

    Highcharts.chart('promedio_ventas_mes', {
      chart: {
        type: 'pie'
      },
      title: {
        text: 'Promedio de Ventas Mensual $'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.y:.2f}</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.y:.2f}'
          }
        }
      },
      series: [{
        name: 'Promedio de Ventas',
        colorByPoint: true,
        data: dataForPieChart
      }]
    });
  });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Datos de ventas diarias desde Flask
      const ventasDiariasTotales = {{ ventas_diarias_totales 
    }};

    // Configuración del gráfico de ventas diarias
    Highcharts.chart('ventas_diarias_chart', {
      chart: {
        type: 'column'
      },
      title: {
        text: 'Ventas del día actual'
      },
      xAxis: {
        categories: ['Ventas de hoy']
      },
     
      series: [{
        name: 'Ventas',
        colorByPoint: true,
        data: [{
          name: 'Total Ventas',
          y: ventasDiariasTotales,
          color: '#007bff'  // Color azul para el total de ventas
        }, {
          name: 'Ventas ',
          y: ventasDiariasTotales > 0 ? 0 : 100, // Representación de no ventas si no hay ventas
          color: '#d3d3d3'  // Color gris para sin ventas
        }]
      }]
    });
  });
  </script>


{% endblock %}