{% extends 'top navbar/top-navbar.html' %}
{% block title %} Inicio {% endblock%}

{% block estilos %}
<style>
  .navbar__principal {
    background: linear-gradient(-15deg, #f4f1f0, #f4f1f0 0%);
    background: linear-gradient(-15deg, #e6f1f5, #e6f1f5 80%);

  }
</style>
{% endblock %}

{%block content %}



<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}" />


<!--Pagina principal-->
<section class="inicio">

  <div class="textos__container">

    <button class="inicio__btn inicio__btn--titulo">Potencia tus ventas</button>

    <h1 class="inicio__titulo">Potencia Tus Ventas <br> con un Dashboard Moderno <br> de Gestión
    </h1>
    <p class="inicio__desc">Facilita la comunicación y transforma tu experiencia de gestión de ventas con nuestro
      avanzado panel de control.
    </p>
    <a href="{{ url_for('auth.signin') }}">
      <button class="inicio__btn">Empezar</button>
    </a>
  </div>

  <figure class="inicio__img--figure">
    <img src="/static/img/portada2.webp" class="inicio__img--img">
  </figure>

  <!--Musica-->
  <audio id="audio-fondo" autoplay>
    <source src="../static/Audio/mavine.mp3" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio
  </audio>

  <!--Audio Btn-->
  <a href="#" id="audio" class="Audio__Btn  "><i class="bi bi-pause-fill"></i>
  </a>

  <!--Control de volumen-->
  <input type="range" id="volume" class="mt-4  d-none" name="volume" min="0" max="1" step="0.01" value="1">
  <script src="../../static/Js/audio.js"></script>



  <footer class="py-2">
    <ul class="nav justify-content-center ">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>
</section>

<!-- <div class="container-fluid mx-4">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <figure class="text-center animate__animated animate__fadeIn">
      <blockquote class="blockquote">
        <p>Una experiencia agradable para gestionar tus almacenes.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Saletrackstar</cite>
      </figcaption>
    </figure>
  </div>
</div> -->


{% endblock %}