{% extends 'top navbar/top-navbar.html' %} {% block title %} Manage Companies {%
endblock %} {% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/products.css') }}" />

<section class="intermediarios">

    {% include 'top navbar/top-width-navbar.html' %}

    <div class="intermediarios__contenedor">


      <div class="d-flex flex-wrap mt-3">
        <!-- Formulario para el primer botón -->
        <form class="mb-2 mb-md-0">
          <button type="button" class="btn btn-primary me-5" data-bs-toggle="modal" data-bs-target="#createmodal"
            data-bs-whatever="@mdo">
            <span>Crear intermediario</span>
          </button>
        </form>

        <div class="col-md-12 mt-3 flex-wrap justify-content-center align-items-start">
          <div class="table-responsive" style="max-height: 500px; overflow-y: auto">
            <table class="table table-bordered table-striped table-rounded mb-3" id="intermedaries-table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">
                    <span>Nueva compañia</span>
                  </th>
                  <th scope="col">
                    <span>Nombre del intermediario</span>
                  </th>
                  <th scope="col">Tel.</th>
                  <th scope="col">
                    <span>Acciones</span>
                  </th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                {% for relation in relations %}
                <tr data-relation-id="{{ relation[2] }}" data-first-name="{{ relation[3] }}"
                  data-last-name-paternal="{{ relation[4] }}" data-last-name-maternal="{{ relation[5] }}">
                  <th scope="row">{{ relation[2] }}</th>
                  <td>{{ relation[1] }}</td>
                  <td>{{ relation[3] ~ relation[4] ~ relation[5] }}</td>
                  <td>{{ relation[6] }}</td>
                  <td class="text-center d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-warning mx-2" data-bs-toggle="modal"
                      data-bs-target="#editCompany" data-Intermediary-id="{{ relation[2] }}"
                      onclick="setEditProductId('{{ relation[2] }}')">
                      <span class="material-symbols-outlined">edit_square</span>
                    </button>
                    <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal"
                      data-bs-target="#deleteCompany" data-Intermediary-id="{{ relation[2] }}"
                      onclick="setIntermediaryId('{{ relation[2] }}')">
                      <span class="material-symbols-outlined">delete_forever</span>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
</section>



<!--CREAR INTERMEDIARIOS MODAL-->
<div class="modal fade" id="createmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createmodallabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createmodallabel">Crear nueva compañia</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createCompanyForm" action="{{ url_for('products.manage_intermediary') }}" method="post"
          class="needs-validation" novalidate>
          <input type="hidden" name="action" value="create">
          <div class="mb-3">
            <label for="company-select">Seleciona una compañia:</label>
            <select class="form-select" id="company-select" name="company_id" required>
              <option value="" disabled selected>Selecciona una compañia</option>
              {% for company in companies %}
              <option value="{{ company[0] }}">{{ company[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="intermediary" class="form-label">Nombres del intermediario:</label>
            <input type="text" class="form-control" id="intermediaryName" name="intermediaryName" required />
          </div>

          <div class="mb-3">
            <label for="intermediary" class="form-label">Apellido paterno:</label>
            <input type="text" class="form-control" id="AP_PAT" name="AP_PAT" required />
          </div>

          <div class="mb-3">
            <label for="intermediary" class="form-label">Apellido materno:</label>
            <input type="text" class="form-control" id="AP_MAT" name="AP_MAT" required />
          </div>

          <div class="mb-3">
            <label for="intermediaryPhone" class="form-label">tel. Intermediario:</label>
            <input type="tel" class="form-control Telefono" id="intermediaryPhone" name="intermediaryPhone" required />
          </div>

          <div class="text-end">
            <button type="button" class="btn btn-warning me-2" data-bs-dismiss="modal">
              Cerrar
            </button>
            <button id="submitProductSave" type="submit" class="btn btn-success">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--EDITAR INTERMEDIARIOS MODAL-->
<div class="modal fade" id="editCompany" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editCompanyLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCompanyLabel">Editar compañia</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editCompanyForm" action="{{ url_for('products.manage_intermediary') }}" method="post"
          class="needs-validation" novalidate>
          <input type="hidden" name="action" value="edit">
          <div class="mb-3">
            <label for="editCompanyName" class="form-label">Nuevo nombre de la compañia:</label>
            <select class="form-select" id="company-select2" name="Edit-company_id" required>
              <option value="" disabled selected>Seleccionar compañia</option>
              {% for company in companies %}
              <option value="{{ company[0] }}">{{ company[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="intermediary" class="form-label">Nuevos nombres del intermediario:</label>
            <input type="text" class="form-control" id="editIntermediaryName" name="editIntermediaryName" required />
          </div>

          <div class="mb-3">
            <label for="intermediary" class="form-label">Nuevo Apellido paterno:</label>
            <input type="text" class="form-control" id="NEW-AP_PAT" name="NEW-AP_PAT" required />
          </div>

          <div class="mb-3">
            <label for="intermediary" class="form-label">Nuevo Apellido materno:</label>
            <input type="text" class="form-control" id="NEW-AP_MAT" name="NEW-AP_MAT" required />
          </div>

          <div class="mb-3">
            <label for="intermediary" class="form-label">Nuevo tel. Intermediario:</label>
            <input type="tel" class="form-control Telefono
              " id="editIntermediaryPhone" name="editIntermediaryPhone" required />
          </div>

          <div class="text-end">
            <button type="button" class="btn btn-warning me-2" data-bs-dismiss="modal">
              Cerrar
            </button>
            <input id="EditValueIntermediary_id" type="hidden" name="EditIntermediary_id" value="" />
            <button id="submitEditProductSave" type="submit" class="btn btn-success">
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--ELIMINAR INTERMEDIARIOS MODAL-->
<div class="modal fade" id="deleteCompany" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteCompanyLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar compañia</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          ¿Estas seguro de eliminar esta compañia?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Close
        </button>
        <form id="delete-product-form" action="{{ url_for('products.manage_intermediary') }}" method="post">
          <input type="hidden" name="action" value="delete">
          <input id="ValueIntermediaryId" type="hidden" name="DeleteIntermediaryId" value="" />
          <button id="delete-company-btn" type="submit" class="btn btn-danger">
            Delete Company
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- TOAST PARA DAR FEEDBACK DEL NOMBRE DE INTERMEDIARIO-->
<div class="mt-5 position-fixed p-3 end-0 bottom-0" style="z-index: 9999">
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="fas fa-exclamation-circle"></i>
      <strong class="me-auto mx-2">Warning!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body mx-1 mt-1">
      Ajusta nuevamente el nombre del intermediario.
    </div>
  </div>
</div>

<!-- DIV OCULTO PARA GUARDAR LOS MENSAJES -->
<div id="flash-messages" style="display: none;">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!-- MOTAL PARA MOSTRAR FLASH -->
<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flashModalLabel">Notifircation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="flashModalBody">
        <!-- LOS MENSAJES SE MOSTRARAN AQUI -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Closeerrartton>
      </div>
    </div>
  </div>
</div>


<!-- MOSTRAR EL MODAL PARA MOSTRAR ERRORES Y MENSAJES  -->
<script>
  $(document).ready(function () {
    var flashMessages = $('#flash-messages').html().trim();
    if (flashMessages) {
      $('#flashModalBody').html(flashMessages);
      $('#flashModal').modal('show');
    }
  });
</script>

<!--               FUNCIONALIDADES COMPARTIDAS POR MODAL                   -->

<!-- OBTENCION LOS ID (NO BORRAR)-->
<script>
  function setIntermediaryId(IntermediaryId) {
    document.getElementById("ValueIntermediaryId").value = IntermediaryId;
    console.log("IntermediaryId BORRAR>" + IntermediaryId);
  }

  function setEditProductId(IntermediaryId) {
    document.getElementById("EditValueIntermediary_id").value = IntermediaryId;
    console.log("EditIntermediary_id EDITAR>" + IntermediaryId);

    // Encuentra la fila con el data-relation-id correspondiente
    var table = document.getElementById("intermedaries-table");
    var rows = table.getElementsByTagName("tr");
    var foundRow = null;
    for (var i = 0; i < rows.length; i++) {
      var rowRelationId = rows[i].getAttribute("data-relation-id");
      if (rowRelationId === IntermediaryId) {
        foundRow = rows[i];
        break;
      }
    }

    if (foundRow) {
      console.log("Se encontró la fila con data-relation-id =", IntermediaryId);
      // Obtiene todos los datos de las celdas en la fila
      var rowData = Array.from(foundRow.children).map((cell) =>
        cell.textContent.trim()
      );
      console.log("RowData>" + rowData);
      //var idIntermedary = rowData[0];}
      // Obtener los nombres separados desde los atributos de datos
      var firstName = foundRow.getAttribute("data-first-name");
      var lastNamePaternal = foundRow.getAttribute("data-last-name-paternal");
      var lastNameMaternal = foundRow.getAttribute("data-last-name-maternal");
      console.log("Nombre:", firstName);
      console.log("Apellido Paterno:", lastNamePaternal);
      console.log("Apellido Materno:", lastNameMaternal);
      //SELECCIONA LA COMPAÑIA PARA CARGARLA
      var companyName = rowData[1];
      // Obtener el elemento select
      var selectElement = document.getElementById("company-select2");

      // Iterar sobre las opciones del elemento select
      for (var i = 0; i < selectElement.options.length; i++) {
        var option = selectElement.options[i];
        console.log("Opción", i, "Valor:", option.value, "Texto:", option.text);
        // Verificar si el texto de la opción coincide con el nombre de la empresa
        if (option.text === companyName) {
          // Establecer el valor del elemento select a la opción correspondiente
          selectElement.selectedIndex = i;
          console.log("Opción seleccionada de compañia:", option.text);
          // Opcionalmente, puedes salir del bucle si solo quieres seleccionar la primera coincidencia
          // break;
        }
      }
      //FIN
      document.getElementById("editIntermediaryName").value = firstName;
      document.getElementById("NEW-AP_PAT").value = lastNamePaternal;
      document.getElementById("NEW-AP_MAT").value = lastNameMaternal;

      var telPhone = rowData[3];
      document.getElementById("editIntermediaryPhone").value = telPhone;

      var tostada = new bootstrap.Toast(document.getElementById("toast"));
      tostada.show();
    } else {
      console.log("No se encontro la fila.");
    }
  }
</script>

<!-- EVITA EL USO DE COMILLAS EN TODOS LOS CAMPOS-->
<script>
  // Función para eliminar caracteres no permitidos de todos los campos de entrada, excepto los especificados
  document.querySelectorAll("input").forEach(function (input) {
    // Verifica si el campo de entrada no tiene la clase "Telefono"
    if (!input.classList.contains("Telefono")) {
      input.addEventListener("input", function (event) {
        // Obtener el valor actual del campo de entrada
        var inputValue = event.target.value;
        // Eliminar caracteres no permitidos (excepto letras con acentos y espacios)
        var cleanedValue = inputValue.replace(/[^A-Za-záéíóúÁÉÍÓÚñÑ\s]+/g, "");
        // Actualizar el valor del campo de entrada
        event.target.value = cleanedValue;
      });
    }
  });
</script>


<script>
  // Función para eliminar caracteres no permitidos de todos los campos de entrada, excepto los especificados
  document.querySelectorAll("input").forEach(function (input) {
    // Verifica si el campo de entrada tiene la clase "Telefono"
    if (input.classList.contains("Telefono")) {
      input.addEventListener("input", function (event) {
        // Obtener el valor actual del campo de entrada
        var inputValue = event.target.value;
        // Eliminar todos los caracteres no numéricos
        var cleanedValue = inputValue.replace(/\D/g, "");
        // Actualizar el valor del campo de entrada
        event.target.value = cleanedValue;
      });
    }
  });
</script>


<!-- SOLO PERMITE AGREGAR UN UNICO ESPACIO EN TODOS LOS INPUTS-->
<script>
  // Función para mantener solo un espacio entre palabras en los campos de entrada de texto
  function limitarEspacios(event) {
    // Obtener el valor actual del campo
    var valorCampo = event.target.value;
    // Reemplazar múltiples espacios por uno solo
    var valorSinEspaciosRepetidos = valorCampo.replace(/\s+/g, " ");
    // Actualizar el valor del campo con un solo espacio entre palabras
    event.target.value = valorSinEspaciosRepetidos;
  }

  // Seleccionar todos los campos de entrada de texto y textarea
  var inputspace = document.querySelectorAll(
    'input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea'
  );

  // Agregar evento de escucha para cada campo de entrada
  inputspace.forEach(function (input) {
    input.addEventListener("input", limitarEspacios);
  });
</script>

<!-- LIMITA EL NÚMERO DE CARACTERES DE LAS ENTRADAS-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var maxCharactersText = 35; // Máximo de caracteres para campos de texto
    var maxCharactersNumber = 10; // Máximo de caracteres para campos de número

    // Función para manejar el evento de entrada y limitar la longitud de los campos de entrada
    function handleInput(event) {
      if (
        event.target.type === "text" &&
        event.target.value.length > maxCharactersText
      ) {
        event.target.value = event.target.value.substring(0, maxCharactersText); // Limita a maxCharactersText para campos de texto
      } else if (
        event.target.type === "tel" &&
        event.target.value.length > maxCharactersNumber
      ) {
        event.target.value = event.target.value.substring(
          0,
          maxCharactersNumber
        ); // Limita a maxCharactersNumber para campos de número
      }
    }

    // Agregar evento de entrada a todos los campos de entrada
    var inputFields = document.querySelectorAll("input");
    inputFields.forEach(function (input) {
      input.addEventListener("input", handleInput);
    });
  });
</script>

<!-- VALIDA LOS ESPACIOS INICIALES Y FINALES QUE EL USUARIO PUEDA LLEGAR A PONER, Y QUE NO PUEDA COPIAR Y PEGARSE ESPACIOS-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var trimDelay = 500; // Cambia este valor según el tiempo que desees en milisegundos
    var timeout = null;

    // Función para eliminar espacios en blanco de los valores de los campos de entrada
    function trimInputFields() {
      var inputFields = document.querySelectorAll("input:not([type='number'])");
      inputFields.forEach(function (input) {
        input.value = input.value.trim();
      });
    }

    // Función para reiniciar el temporizador
    function resetTrimTimer() {
      clearTimeout(timeout);
      timeout = setTimeout(trimInputFields, trimDelay);
    }

    // Función para manejar el evento de pegar y eliminar espacios en blanco
    function handlePaste(event) {
      var paste = (event.clipboardData || window.clipboardData).getData("text");
      event.preventDefault();
      var trimmedPaste = paste.trim();
      document.execCommand("insertText", false, trimmedPaste);
      resetTrimTimer();
    }

    // Agregar eventos a todos los campos de entrada que no son de tipo "number"
    var inputFields = document.querySelectorAll("input:not([type='number'])");
    inputFields.forEach(function (input) {
      input.addEventListener("input", resetTrimTimer);
      input.addEventListener("change", resetTrimTimer);
      input.addEventListener("blur", resetTrimTimer);
      input.addEventListener("paste", handlePaste);
    });
  });
</script>

<!-- VALIDA LAS ENTRADAS DE TIPO TEL-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var phoneInputs = document.querySelectorAll("input[type='tel']");

    phoneInputs.forEach(function (input) {
      input.addEventListener("input", function (event) {
        var phoneNumber = event.target.value.replace(/\D/g, ""); // Elimina todos los caracteres que no sean dígitos
        if (phoneNumber.length !== 10) {
          event.target.classList.remove("is-valid"); // Quita la clase "is-valid" si el número no tiene 10 dígitos
          event.target.classList.add("is-invalid"); // Agrega la clase "is-invalid" si el número no tiene 10 dígitos
          // event.target.setCustomValidity("Debe tener 10 dígitos"); // Establece un mensaje de validación personalizado si no tiene 10 dígitos
        } else {
          event.target.classList.remove("is-invalid"); // Quita la clase "is-invalid" si el número tiene 10 dígitos
          event.target.classList.add("is-valid"); // Agrega la clase "is-valid" si el número tiene 10 dígitos
          event.target.setCustomValidity(""); // Borra el mensaje de validación personalizado si tiene 10 dígitos
        }
      });
    });
  });
</script>

<!--                FIN DE FUNCIONALIDADES COMPARTIDAS                     -->
<!---->
<!---->
<!---->
<!---->
<!--                                  CREATE MODAL VALIDACIONES                                   -->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var form = document.getElementById("createCompanyForm");
    var saveButton = document.getElementById("submitProductSave");
    var intermediaryPhone = document.getElementById("intermediaryPhone");

    var tooltip = new bootstrap.Tooltip(saveButton, {
      placement: "bottom",
      title: "Please fill in all fields and ensure the phone number has at least 10 digits.",
      trigger: "manual", // Configurar la tooltip para que se muestre manualmente
      customClass: "custom-tooltip", // Aquí se aplica la clase personalizada
    }); // Crear la tooltip permanente

    function validateForm() {
      var requiredFields = form.querySelectorAll("[required]");
      var isEmpty = false;

      requiredFields.forEach(function (field) {
        if (!field.value.trim()) {
          isEmpty = true;
        }
      });

      var isPhoneValid = intermediaryPhone.value.trim().length >= 10;

      if (isEmpty || !isPhoneValid) {
        saveButton.disabled = true;
        saveButton.classList.remove("btn-success");
        saveButton.classList.add("btn-danger");
        tooltip.show(); // Mostrar la tooltip permanente
      } else {
        saveButton.disabled = false;
        saveButton.classList.remove("btn-danger");
        saveButton.classList.add("btn-success");
        tooltip.hide(); // Ocultar la tooltip permanente
      }
    }

    form.addEventListener("submit", function (event) {
      validateForm();
      if (saveButton.disabled) {
        event.preventDefault(); // Evitar que el formulario se envíe si hay campos vacíos
      }
    });

    form.addEventListener("input", function () {
      validateForm();
    });

    $("#createmodal").on("hidden.bs.modal", function () {
      form.reset();
      saveButton.classList.remove("btn-danger");
      saveButton.classList.add("btn-success");
      saveButton.disabled = false;
      tooltip.hide(); // Ocultar la tooltip al cerrar el modal
    });
  });
</script>

<!--                             FIN DEL CREATE MODAL VALIDACIONES                                -->
<!---->
<!---->
<!---->
<!---->
<!--                                  EDIT MODAL VALIDACIONES                                     -->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var form = document.getElementById("editCompanyForm");
    var saveButton = document.getElementById("submitEditProductSave");
    var intermediaryPhone = document.getElementById("editIntermediaryPhone");

    var tooltip = new bootstrap.Tooltip(saveButton, {
      placement: "bottom",
      title: "Please fill in all fields and ensure the phone number has at least 10 digits.",
      trigger: "manual",
      customClass: "custom-tooltip", // Aquí se aplica la clase personalizada
    });

    function validateForm() {
      var requiredFields = form.querySelectorAll("[required]");
      var isEmpty = false;

      requiredFields.forEach(function (field) {
        if (!field.value.trim()) {
          isEmpty = true;
        }
      });

      var isPhoneValid = intermediaryPhone.value.trim().length >= 10;

      if (isEmpty || !isPhoneValid) {
        saveButton.disabled = true;
        saveButton.classList.remove("btn-success");
        saveButton.classList.add("btn-danger");
        tooltip.show();
      } else {
        saveButton.disabled = false;
        saveButton.classList.remove("btn-danger");
        saveButton.classList.add("btn-success");
        tooltip.hide();
      }
    }

    form.addEventListener("submit", function (event) {
      validateForm();
      if (saveButton.disabled) {
        event.preventDefault();
      }
    });

    form.addEventListener("input", function () {
      validateForm();
    });

    $("#editCompany").on("hidden.bs.modal", function () {
      form.reset();
      saveButton.classList.remove("btn-danger");
      saveButton.classList.add("btn-success");
      saveButton.disabled = false;
      tooltip.hide();
    });
  });
</script>


<!--                                 FIN EDIT MODAL VALIDACIONES                                  -->
{% endblock %}