{% extends 'top navbar/top-navbar.html' %} {% block title %} Manage warehouse {%
endblock %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/products.css') }}"
/>

<script src="https://cdn.jsdelivr.net/npm/quagga/dist/quagga.min.js"></script>

<style>
  .table-rounded {
    border-radius: 10px; /* Redondear las esquinas de la tabla */
    border: 2px solid #ccc; /* Agregar un borde de 2px sólido con color gris */
    overflow: hidden; /* Permitir que el contenido desborde los bordes redondeados */
    background-color: rgba(128, 128, 128, 0.252);
  }
</style>

<div class="container-fluid mt-5">
  <!-- Agregamos la clase mt-5 para añadir margen superior -->
  <div class="row mx-2 mt-5 border border-Tertiary rounded p-0">
    <h6 class="mt-1 d-none d-sm-flex">Manage warehouse</h6>

    {% include 'top navbar/top-width-navbar.html' %}

    <div class="col-12 col-lg-9 mt-3">
      <!-- Utilizamos clases de Bootstrap para diseño responsivo y espaciado -->
      <form class="d-flex mt-3">
        <!-- Este div se expandirá para ocupar el espacio disponible -->

        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#createmodal"
          data-bs-whatever="@mdo"
        >
          Create
        </button>
      </form>

      <div
        class="col-md-12 mt-3 border border-Tertiary p-3 rounded flex-wrap justify-content-center align-items-start"
      >
        <div
          class="table-responsive"
          style="max-height: 500px; overflow-y: auto"
        >
          <table class="table table-bordered table-striped table-rounded mb-3">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for product in products %}
              <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[3] }}</td>
                <td>{{ product[2] }}</td>
                <td
                  class="text-center d-flex justify-content-center align-items-center"
                >
                  <button
                    type="button"
                    class="btn btn-warning mx-2"
                    data-bs-toggle="modal"
                    data-bs-target="#editproduct"
                    data-product-id="{{ product[0] }}"
                    onclick="setEditProductId('{{ product[0] }}')"
                  >
                    <span class="material-symbols-outlined">edit_square</span>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger mx-2 delete-product-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteproduct"
                    data-product-id="{{ product[0] }}"
                    onclick="setProductId('{{ product[0] }}')"
                  >
                    <span class="material-symbols-outlined"
                      >delete_forever</span
                    >
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--CREAR PRODUCTOS MODAL-->
<div
  class="modal fade"
  id="createmodal"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="createmodallabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Product</h5>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="createproductmodal"
          action="{{ url_for('products.create_product') }}"
          method="post"
          class="needs-validation"
          novalidate
        >
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="marca" class="form-label">Brand:</label>
                <input
                  type="text"
                  class="form-control"
                  id="marca"
                  name="marca"
                  required
                  oninput="limitTextInput(this)"
                />
                <div class="invalid-feedback">Por favor ingresa una marca.</div>
              </div>
              <div class="mb-3">
                <label for="producto" class="form-label">Name Product:</label>
                <input
                  type="text"
                  class="form-control"
                  id="producto"
                  name="producto"
                  required
                  oninput="limitTextInput(this)"
                />
                <div class="invalid-feedback">
                  Por favor ingresa un producto.
                </div>
              </div>
              <div class="mb-3">
                <label for="SelectUnitOfMeasure" class="form-label"
                  >Select Unit of Measure:</label
                >
                <select
                  class="form-select"
                  id="SelectUnitOfMeasure"
                  name="SelectUnitOfMeasure"
                  required
                >
                  <option value="" disabled selected>
                    Select Unit Of Measure
                  </option>
                  <option value="pieces">Pieces</option>
                  <option value="liters">Liters</option>
                  <option value="milliliters">Milliliters</option>
                  <option value="kilogram">Kilogram</option>
                  <option value="grams">Grams</option>
                  <option value="customize">Customized</option>
                </select>
                <div class="invalid-feedback">
                  Please select a unit of measure.
                </div>
              </div>
              <div class="mb-3">
                <label for="unitquantity" class="form-label"
                  >Unit Quantity:</label
                >
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="unitquantity"
                    name="unitquantity"
                    maxlength="4"
                    min="0"
                    required
                  />
                  <span class="input-group-text" id="unitLabel"></span>
                </div>
                <div class="invalid-feedback">
                  Please enter a non-negative quantity.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="company-select">Select Company:</label>
                <select
                  class="form-select"
                  id="company-select"
                  name="company_id"
                  required
                >
                  <option value="" disabled selected>Select Company</option>
                  {% for company in companies %}
                  <option value="{{ company[0] }}">{{ company[1] }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">Please select a company.</div>
              </div>
              <div class="mb-3">
                <label for="intermedary-select">Select Intermediary:</label>
                <select
                  class="form-select"
                  id="intermedary-select"
                  name="intermedary_id"
                  required
                >
                  <option value="" disabled selected>
                    Select Intermediary
                  </option>
                  {% for relation in relations %}
                  <option value="{{ relation[2] }}">
                    {{ relation[1] }} {{ relation[3] }} {{ relation[4] }} {{
                    relation[5] }}
                  </option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please select an intermediary.
                </div>
              </div>
              <div class="mb-3">
                <label for="cantidadInput" class="form-label">Quantity:</label>
                <input
                  type="number"
                  class="form-control"
                  id="cantidad"
                  name="cantidad"
                  required
                  oninput="limitQualityInput(this)"
                />
                <div class="invalid-feedback">
                  Por favor ingresa una cantidad válida.
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="newprecio" class="form-label">Unit Price:</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input
                      type="number"
                      class="form-control"
                      id="precio"
                      name="precio"
                      step="0.001"
                      required
                    />
                    <div class="invalid-feedback">
                      Please enter a valid price.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end">
            <button
              type="button"
              class="btn btn-warning me-2"
              data-bs-dismiss="modal"
              onclick="limpiarModal()"
            >
              Close
            </button>
            <button type="submit" class="btn btn-success">Save Products</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--EDITAR-PRODUCTOS MODAL-->
<div
  class="modal fade"
  id="editproduct"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="editproductlabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editproductlabel">Edit Product</h5>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="editproductform"
          action="{{ url_for('products.update_product') }}"
          method="post"
          class="needs-validation"
          novalidate
        >
          <div class="row">
            <div class="col-md-6">
              <!--MARCA-PRODUCTOS-id>newmarca-->
              <div class="mb-3">
                <label for="newmarca" class="form-label">New Brand:</label>
                <input
                  type="text"
                  class="form-control"
                  id="newmarca"
                  name="newmarca"
                  required
                  oninput="limitTextInput(this)"
                />
                <div class="invalid-feedback">Por favor ingresa una marca.</div>
              </div>
              <!--NEW-NAME-PRODUCTOS-id>newproducto-->
              <div class="mb-3">
                <label for="newproducto" class="form-label"
                  >New Name Product:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="newproducto"
                  name="newproducto"
                  required
                  oninput="limitTextInput(this)"
                />
                <div class="invalid-feedback">
                  Por favor ingresa un producto.
                </div>
              </div>
              <!--SLECT-NEW-UNIT-id>EditSelectUnitOfMeasure-->
              <div class="mb-3">
                <label for="EditSelectUnitOfMeasure" class="form-label"
                  >Select Unit of Measure:</label
                >
                <select
                  class="form-select"
                  id="EditSelectUnitOfMeasure"
                  name="EditSelectUnitOfMeasure"
                  onchange="updateQuantityIncrement()"
                  required
                >
                  <option value="" disabled selected>
                    Select Unit Of Measure
                  </option>
                  <option value="pieces">Pieces</option>
                  <option value="liters">Liters</option>
                  <option value="milliliters">Milliliters</option>
                  <option value="kilogram">Kilogram</option>
                  <option value="grams">Grams</option>
                  <option value="customize">Customized</option>
                </select>
              </div>
              <!--NEW-UNIT-QUANTITY-id>editunitquantity-->
              <div class="mb-3">
                <label for="editunitquantity" class="form-label"
                  >New Unit Quantity:</label
                >
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="editunitquantity"
                    name="editunitquantity"
                    maxlength="4"
                    min="0"
                    required
                    disabled
                  />
                  <span class="input-group-text" id="editunitLabel"></span>
                </div>
                <div class="invalid-feedback">
                  Please enter a non-negative quantity.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <!--EDITAR-COMPANIA-SELECCIONADO-id>company-new-select-->
              <div class="mb-3">
                <label for="company-select">Select New Company:</label>
                <select
                  class="form-select"
                  id="company-new-select"
                  name="company-new-select"
                  required
                >
                  <option value="" disabled selected>Select Company</option>
                  {% for company in companies %}
                  <option value="{{ company[0] }}">{{ company[1] }}</option>
                  {% endfor %}
                </select>
              </div>

              <!--EDITAR-INTERMEDIARIO-SELECCIONADO-id>intermedary-new-select-->
              <div class="mb-3">
                <label for="intermedary-new-select">Select Intermedary:</label>
                <select
                  class="form-select"
                  id="intermedary-new-select"
                  name="intermedary-new-select"
                  required
                >
                  <option value="" disabled selected>Select intermedary</option>
                  {% for relation in relations%}
                  <option value="{{ relation[2] }}">
                    {{ relation[1] }} {{ relation[3] }} {{ relation[4] }} {{
                    relation[5] }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <!--NUEVA-CANTIDAD-id>newcantidad-->
              <div class="mb-3">
                <label for="newcantidadInput" class="form-label"
                  >New Quantity:</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="newcantidadInput"
                  name="newcantidad"
                  required
                  oninput="limitQualityInput(this)"
                />
                <div class="invalid-feedback">
                  Please enter a valid quantity.
                </div>
              </div>
              <!--NUEVO-PRECIO-id>newprecio2-->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="newprecio2" class="form-label"
                    >New Unit Price:</label
                  >
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input
                      type="number"
                      class="form-control"
                      id="newprecio2"
                      name="newprecio"
                      step="0.001"
                      required
                    />
                    <div class="invalid-feedback">
                      Please enter a valid price.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end">
            <button
              type="button"
              class="btn btn-warning me-2"
              data-bs-dismiss="modal"
              onclick="limpiarEditModal()"
            >
              Close
            </button>
            <!---->
            <input
              id="editproduct_id"
              type="hidden"
              name="editproduct_id"
              value=""
            />
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--ELIMINAR PRODUCTO MODAL-->
<div
  class="modal fade"
  id="deleteproduct"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="deleteproductlabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
        <button
          type="button"
          class="btn-close custom-btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          Are you sure you want to delete this product?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Close
        </button>
        <form
          id="delete-product-form"
          action="{{ url_for('products.delete_product') }}"
          method="post"
        >
          <input
            id="product-id-input"
            type="hidden"
            name="product_id"
            value=""
          />
          <button id="delete-product-btn" type="submit" class="btn btn-danger">
            Delete Product
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Elemento oculto para almacenar los datos de 'members' -->
<div id="members-data" data-members="{{ members }}" style="display: none"></div>

<!-- no permitir campos vacios en el modal create-->
<script>
  // Bootstrap validation script
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>

<!-- <script src="{{ url_for('static', filename='js/qrScan.js') }}"></script>-->

<!--CREATE MODAL SCRIPT PARA MANEJO DE COMPAÑIAS E INTERMEDIARIOS DINAMICOS-->
<script>
  // Función para filtrar intermediarios basados en la compañía seleccionada
  function filterIntermediaries() {
    // Obtener la opción seleccionada de la compañía
    var selectedOption =
      document.getElementById("company-select").options[
        document.getElementById("company-select").selectedIndex
      ];

    // Obtener el texto de la opción seleccionada (nombre de la compañía)
    var selectedCompany = selectedOption.textContent.toLowerCase().trim();

    // Obtener todas las opciones de intermediarios
    var intermediaries = document.querySelectorAll(
      "#intermedary-select option"
    );

    // Recorrer todas las opciones de intermediarios
    intermediaries.forEach(function (option) {
      // Obtener la compañía asociada con el intermediario (formato: "Compañía Nombre Apellido Apellido")
      var companyAndName = option.textContent.trim().toLowerCase();

      // Obtener solo el nombre de la compañía del intermediario
      var intermediaryCompany = companyAndName.split(" ")[0];

      // Comparar la compañía seleccionada con la compañía del intermediario
      if (intermediaryCompany !== selectedCompany) {
        // Ocultar el intermediario si no coincide con la compañía seleccionada
        option.style.display = "none";
      } else {
        // Mostrar el intermediario si coincide con la compañía seleccionada
        option.style.display = "block";
      }
    });
  }

  // Agregar un event listener para el cambio en la selección de compañía
  document
    .getElementById("company-select")
    .addEventListener("change", filterIntermediaries);

  // Filtrar las opciones de intermediarios al cargar la página
  filterIntermediaries();
</script>

<!--EDIT MODAL SCRIPT PARA MANEJO DE COMPAÑIAS E INTERMEDIARIOS DINAMICOS-->
<script>
  // Función para filtrar intermediarios basados en la compañía seleccionada
  function filterIntermediaries() {
    // Obtener la opción seleccionada de la compañía
    var selectedOption =
      document.getElementById("company-new-select").options[
        document.getElementById("company-new-select").selectedIndex
      ];

    // Obtener el texto de la opción seleccionada (nombre de la compañía)
    var selectedCompany = selectedOption.textContent.toLowerCase().trim();

    // Obtener todas las opciones de intermediarios
    var intermediaries = document.querySelectorAll(
      "#intermedary-new-select option"
    );

    // Recorrer todas las opciones de intermediarios
    intermediaries.forEach(function (option) {
      // Obtener la compañía asociada con el intermediario (formato: "Compañía Nombre Apellido Apellido")
      var companyAndName = option.textContent.trim().toLowerCase();

      // Obtener solo el nombre de la compañía del intermediario
      var intermediaryCompany = companyAndName.split(" ")[0];

      // Comparar la compañía seleccionada con la compañía del intermediario
      if (intermediaryCompany !== selectedCompany) {
        // Ocultar el intermediario si no coincide con la compañía seleccionada
        option.style.display = "none";
      } else {
        // Mostrar el intermediario si coincide con la compañía seleccionada
        option.style.display = "block";
      }
    });
  }

  // Agregar un event listener para el cambio en la selección de compañía
  document
    .getElementById("company-new-select")
    .addEventListener("change", filterIntermediaries);

  // Filtrar las opciones de intermediarios al cargar la página
  filterIntermediaries();
</script>

<!-- OBTIENE EL ID DEL PRODUCTO (NO BORRAR)-->
<script>
  //NO QUITAR, AQUI OBTENGO ID
  function setProductId(productId) {
    document.getElementById("product-id-input").value = productId;
    console.log("productId BORRAR>" + productId);
  }
  function setEditProductId(productId) {
    document.getElementById("editproduct_id").value = productId;
    console.log("productId EDITAR>" + productId);
  }
</script>

{% endblock %}
