{% extends 'top navbar/top-navbar.html' %} {% block title %} Warehouse {%
endblock %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/products.css') }}"
/>

<style>
  .table-rounded {
    border-radius: 10px; /* Redondear las esquinas de la tabla */
    border: 2px solid #ccc; /* Agregar un borde de 2px sólido con color gris */
    overflow: hidden; /* Permitir que el contenido desborde los bordes redondeados */
    background-color: rgba(128, 128, 128, 0.252);
  }
</style>

<div class="container-fluid mt-5">
  <!-- Agregamos la clase mt-5 para añadir margen superior -->
  <div class="row mx-2 mt-5 border border-Tertiary rounded p-0">
    <h6 class="mt-1 d-none d-sm-flex">Warehouse</h6>

    {% include 'top navbar/top-width-navbar.html' %}

    <div class="col-12 col-lg-9 mt-3">
      <!-- Utilizamos clases de Bootstrap para diseño responsivo y espaciado -->
      <form
        class="d-flex mt-3"
        method="POST"
        action="{{ url_for('products.search_product') }}"
      >
        <div class="col-sm-4">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="search_term"
            oninput="limitTextInput(this)"
          />
        </div>
        <div class="flex-grow-1"></div>
        <!-- Este div se expandirá para ocupar el espacio disponible -->
        <button class="btn btn-primary" type="submit">Search</button>
      </form>

      <div
        class="col-md-12 mt-3 border border-Tertiary p-3 rounded flex-wrap justify-content-center align-items-start"
      >
        <div
          class="table-responsive"
          style="max-height: 500px; overflow-y: auto"
        >
          <table class="table table-bordered table-striped table-rounded mb-3">
            <!-- Mantenemos las clases existentes y agregamos espaciado -->
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <!-- Enviar mediante un array llamada task los valores (el nombre lo vamos a cambiar a futuro) -->
              {% for product in products %}
              <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[3] }}</td>
                <td>{{ product[2] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function limitTextInput(element) {
    const maxDigits = 20;
    element.value = element.value.replace(/[^a-zA-Z-0-9]/g, "");
    let value = element.value;

    if (value.length > maxDigits) {
      element.value = value.slice(0, maxDigits);
    }
  }
</script>
{% endblock %}
