
body.dark-mode .border {
  border-color: #333333 !important;

}

body.dark-mode .table-bordered,
body.dark-mode .table-striped,
body.dark-mode .table-group-divider th,
body.dark-mode .table-group-divider td {
  border-color: #1b1a1a!important;
  /* Cambiar color de borde */
  color: #F5F5F5 !important;
  /* Cambiar color de texto */
  background-color: #333333 !important;
  /* Cambiar color de fondo */
}

/* Estilos para el modo oscuro */
body.dark-mode .modal-content {
  background-color: #333 !important;
  color: #fff !important;
}

body.dark-mode .modal-header {
  border-bottom: 1px solid #666 !important;
}

body.dark-mode .modal-footer {
  border-top: 1px solid #666 !important;
}

body.dark-mode .btn-secondary {
  color: #fff !important;
  background-color: #666 !important;
  border: #666 !important;
}

body.dark-mode .btn-primary {
  color: #fff !important;
  background-color: #007bff !important;
  border: #007bff;
}

body.dark-mode .custom-btn-close {
  color: #fff; /* Color blanco en modo oscuro */
  background-color: #fff ;
}


body.dark-mode .list-group-buttons {
background-color: #333333;
color: #F5F5F5;
border-color: #333333;
}


/* Estilos para el modo claro */
body.dark-mode .list-group-buttons:active {
background-color: #706f6fa9;
/* Color de fondo cuando se presiona el botón en modo claro */

}

body.dark-mode .square-btn {
color: #fff; /* Color blanco en modo oscuro */
background-color: #333;
transition: background-color 0.3s; /* Agrega una transición suave */
}

body.dark-mode .square-btn:hover,
body.dark-mode .square-btn:focus {
background-color: #FFC107; /* Cambia el color de fondo al pasar el cursor sobre el botón o al tener foco */
}

body.dark-mode .square-btn:active {
background-color: #FFC107; /* Cambia el color de fondo cuando se presiona el botón */
}

.square-btn {
  width: 4vw; /* Utilizamos 10% del ancho de la ventana */
  height: 4vw; /* Utilizamos 10% del ancho de la ventana */
  /* Otros estilos */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Suaviza los bordes */
  border: none;
  transition: background-color 0.3s; /* Agrega una transición suave */
}

.square-btn:hover,
.square-btn:focus {
  background-color: #FFC107; /* Cambia el color de fondo al pasar el cursor sobre el botón o al tener foco */
}

.square-btn:not(:focus):active {
  background-color: #FFC107; /* Cambia el color de fondo cuando se presiona el botón */
}

