{% extends 'top navbar/top-navbar.html' %}
{% block title %} Registro {% endblock%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}" />

<section class="registro">

  <div class="parte__izquierda">

    <div class="izq-wrapper">
      <div class="izq__titulos-flex">
        <h2 class="izq__titulo">Configuremos su <br> sistema de gestión de inventario</h2>
        <p class="izq__desc">Solución todo en uno para optimizar su negocio. Administre su inventario desde cero o
          integre los datos de su empresa existente en nuestro sistema eficiente y fácil de usar.
        </p>

      </div>

      <div class="card__reseña">
        <h4 class="card__titulo">Me encantó la experiencia</h4>
        <p class="card__desc">Pude configurar mi negocio y gestionar todos los detalles necesarios en aproximadamente un
          mes, ¡y apenas tuve que hacer nada! Definitivamente lo recomiendo.
        </p>

        <div class="card__flex">
          <figure class="card__flex--figure">
            <img src="/static/img/gigachat.jpg" class="card__flex--img">
          </figure>
          <p class="card__name">Emmanuel Coba</p>

          <div class="flex__estrellas">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
              class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>

        </div>
      </div>
    </div>


  </div>

  <div class="registro__container">
    <div class="parte__derecha">

      <h1 class="registro__titulo">Empecemos</h1>

      <!--Formulario-->
      <form method="post" action="" id="signupForm">
        <div class="input-container">

          <!--Nombre-->
          <label class="etiqueta" for="name">Nombres</label>
          <input type="text" onpaste="return false;" class="form__input {% if user_found %}is-invalid{% endif %}"
            id="name" name="name" required />
        </div>

        <div class="apellidos__flex">
          <!-- Apellido paterno -->
          <div class="input-container">
            <label class="etiqueta" for="apellidoPaterno">Apellido Paterno</label>
            <input type="text" onpaste="return false;" class="form__input form__input--paterno" id="apellidoPaterno"
              name="paternal_lastname" data-bs-toggle="tooltip" data-bs-placement="left"
              data-bs-custom-class="custom-tooltip" required />
          </div>

          <!-- Apellido materno-->
          <div class="input-container">
            <label class="etiqueta" for="apellidoMaterno">Apellido Materno</label>
            <input type="text" onpaste="return false;" class="form__input form__input--materno" id="apellidoMaterno"
              name="maternal_lastname" data-bs-toggle="tooltip" data-bs-placement="left"
              data-bs-custom-class="custom-tooltip" required />
          </div>
        </div>

        <!-- Correo -->
        <div class="input-container">
          <label class="etiqueta" for="email">Correo Electrónico</label>
          <input type="email" class="form__input {% if email_found %}is-invalid{% endif %}" id="email" name="email"
            data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" autocomplete="off"
            data-bs-title="{% if email_found %}Este correo electrónico ya ha sido registrado xd.{% endif %}" required />
          {% if email_found %}
          <div class="invalid-feedback">
            Este correo ya está registrado
          </div>
          {% endif %}
        </div>

        <!-- Contraseña  -->
        <div class="input-container">
          <label class="etiqueta" for="password">Contraseña</label>
          <div class="input-group"> <!--agrupar el boton-->
            <input type="password" onpaste="return false;" class="form__input--contraseña form__input" id="password"
              name="password" data-bs-toggle="tooltip" autocapitalize="off" data-bs-placement="left"
              data-bs-custom-class="custom-tooltip" required />

            <button class="generate__password" type="button" id="generatePassword">
              Generar
            </button>
          </div>
        </div>

        <!--Extras-->
        <div class="cuenta__creada">
          <a>¿Ya tienes una cuenta?</a>
          <a href="{{url_for('auth.signin')}}" class="cuenta__creada cuenta__creada--enlace">Inicia sesión</a>
        </div>

        <!-- Submit button -->
        <button type="submit" class="form__input btn__submit" id="submitButton">
          Registrarse
        </button>
      </form>

    </div>

  </div>
</section>


<!-- SCRIPTS -->
<script src="{{ url_for('static', filename='Js/registro_validaciones.js') }} "></script>



{% endblock %}