{% extends 'top navbar/top-navbar.html' %}
{% block title %} Registro {% endblock%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}" />

<section class="registro">

  <div class="parte__izquierda">

    <h2 class="izq__titulo">Configuremos su <br> sistema de gestión de inventario</h2>
    <p class="izq__desc">Solución todo en uno para optimizar su negocio. Administre su inventario desde cero o
      integre los datos de su empresa existente en nuestro sistema eficiente y fácil de usar.
    </p>

    <div class="card__reseña">
      <h4 class="card__titulo">Me encantó la experiencia</h4>
      <p class="card__desc">Pude configurar mi negocio y gestionar todos los detalles necesarios en aproximadamente un
        mes, ¡y apenas tuve que hacer nada! Definitivamente lo recomiendo.
      </p>

      <div class="card__flex">
        <figure class="card__flex--figure">
          <img src="/static/img/gigachat.jpg" class="card__flex--img">
        </figure>
        <p class="card__name">Emmanuel Coba</p>

        <div class="flex__estrellas">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>

      </div>
    </div>
  </div>

  <div class="registro__container">
    <div class="parte__derecha">

      <h1 class="registro__titulo">Empecemos</h1>

      <!--Formulario-->
      <form method="post" action="" id="signupForm">
        <div class="input-container">

          <!--Nombre-->
          <label class="etiqueta" for="name">Nombres</label>
          <input type="text" onpaste="return false;" class="form__input {% if user_found %}is-invalid{% endif %}"
            minlength="2" maxlength="30" id="name" name="name" pattern="(?=.{2,})([A-Za-zÀ-ÿ]+(\s[A-Za-zÀ-ÿ]+)*)"
            title="Solo se permiten letras y espacios, mínimo 2" title="Solo se permiten letras y espacios, mínimo 2"
            required />
        </div>

        <div class="apellidos__flex">
          <!-- Apellido paterno -->
          <div class="input-container">
            <label class="etiqueta" for="apellidoPaterno">Apellido paterno</label>
            <div>
              <input type="text" onpaste="return false;" class="form__input form__input--paterno" minlength="2"
                maxlength="20" pattern="(?=.{2,})([A-Za-zÀ-ÿ]+(\s[A-Za-zÀ-ÿ]+)*)"
                title="Solo se permiten letras y espacios, mínimo 2" id="apellidoPaterno" name="paternal_lastname"
                data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" required />
            </div>
          </div>

          <!-- Apellido materno-->
          <div class="input-container">
            <label class="etiqueta" for="apellidoMaterno">Apellido materno</label>
            <div>
              <input type="text" onpaste="return false;" class="form__input form__input--materno" minlength="2"
                maxlength="20" pattern="(?=.{2,})([A-Za-zÀ-ÿ]+(\s[A-Za-zÀ-ÿ]+)*)"
                title="Solo se permiten letras y espacios, mínimo 2" id="apellidoMaterno" name="maternal_lastname"
                data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" required />
            </div>
          </div>
        </div>

        <!-- Correo -->
        <div class="input-container">
          <label class="etiqueta" for="email">Correo electrónico</label>
          <div class="">
            <input type="email" class="form__input {% if email_found %}is-invalid{% endif %}" maxlength="40" id="email"
              name="email" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip"
              data-bs-title="{% if email_found %}Este correo electrónico ya ha sido registrado xd.{% endif %}"
              required />
          </div>
          {% if email_found %}
          <div class="invalid-feedback">
            Este correo ya está registrado
          </div>
          {% endif %}
        </div>

        <!-- Contraseña  -->
        <div class="input-container">
          <label class="etiqueta" for="password">Contraseña</label>
          <div class="input-group"> <!--agrupar el boton-->
            <input type="text" onpaste="return false;" class="form__input--contraseña form__input" id="password"
              name="password" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip"
              data-bs-title="La contraseña debe al menos tener 4 caracteres" pattern="^(?=.*\S)(?=^\S)([^\s]{4,20})$"
              title="Ingresa un mínimo de 4 caracteres; no se permiten espacios." minlength="4" maxlength="15"
              required />

            <button class="generate__password" type="button" id="generatePassword">
              Generar
            </button>
          </div>
        </div>

        <!--Extras-->
        <div class="cuenta__creada">
          <a>¿Ya tienes una cuenta?</a>
          <a href="{{url_for('auth.signin')}}" class="cuenta__creada cuenta__creada--enlace">Inicia sesión</a>
        </div>

        <!-- Submit button -->
        <button type="submit" class="form__input btn__submit" id="submitButton">
          Registrarse
        </button>
      </form>

    </div>

  </div>
</section>


<!-- SCRIPTS -->
<script src="{{ url_for('static', filename='Js/registro_validaciones.js') }} "></script>


{% endblock %}