::-webkit-scrollbar {
    display: none;
}

.inicio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(-15deg, #ede6f4, #ecc4e5 10%, #f4c1b6, #f7dacb, #f4f1f0 70%); */
    background: linear-gradient(-15deg,
            rgb(62, 90, 228),
            #4ccaf0da,
            #e6f1f5 80%);
}

.textos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 6px;
    /* background-color: palegreen; */
}

.inicio__btn {
    width: 115px;
    height: 37px;
    padding: 5px;
    border: none;
    background-color: #fefefd;
    color: black;
    border-radius: 20px;
    font-weight: 500;
    /* border: 2px solid rgb(215, 212, 212); */
}


.inicio__btn--titulo {
    width: 265px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 42px;
    line-height: 20px;
    cursor: default !important;
    /* background-color: red; */
}

.inicio__titulo {
    width: 95%;
    text-align: center;
    font-size: 3.8rem;
    line-height: 4.75rem;
    font-weight: 600;
    margin-top: 20px;
}

.inicio__desc {
    width: 60%;
    text-align: center;
    margin-top: 5px;
    color: #8b8d94;
    color: #464749;
    font-size: 1.32rem;
    line-height: 2.2rem;
}

/*Imagen inicio*/
.inicio__img--figure {
    margin-top: 12px;
    width: 90%;
    max-width: 1500px;
    transition: transform 1s ease-in-out;

}

/*Transicion*/
.inicio__img--figure:hover {
    transform: scale(1.01);

}

.inicio__img--img {
    display: block;
    width: 100%;
    mask-image: linear-gradient(black, transparent 90%);
    /* background-color: yellow; */
    mask-repeat: no-repeat;
}

.nav-item {
    display: none;
}

footer ul {
    display: none;
}

/*4K*/

@media screen and (min-width: 1440px) {

    .inicio {
        /* height: 90vh; */
        /* background-color: red; */
    }

    .inicio__titulo {
        font-size: 5rem;
        line-height: 1.3em;
    }

    .inicio__desc {
        font-size: 2.5em;
        line-height: 1.45em;
    }

    .inicio__btn {
        width: auto;
        height: auto;
        padding: 2px 30px;
        font-size: 2em;
    }

    .inicio__btn--titulo {
        font-size: 2em;
        width: auto;
        padding: 1.4rem;
        line-height: 0px;
    }

}

/*Pc*/
@media screen and (max-width: 900px) {
    .inicio__titulo {
        font-size: 3.3rem;
    }

    .inicio__desc {
        width: 80%;
        line-height: 1.9rem;
    }
}

@media screen and (max-width: 710px) {
    .inicio__titulo {
        font-size: 3em;
        line-height: 3.7rem;
    }

    .inicio__desc {
        width: 80%;
        line-height: 1.9rem;
    }
}

/*Moviles*/
@media screen and (max-width: 428px) {

    .inicio {
        background: linear-gradient(-15deg, #7f95e6, #4ccaf0da, #e6f1f5 70%);
    }

    .inicio__titulo {
        font-size: 2.5rem;
        width: 95%;
        line-height: 2.55rem;
        /* background: red; */
        word-wrap: break-word;
        /* padding: 0; */
    }

    .textos__container {
        gap: 5px;
    }

    .inicio__desc {
        width: 90%;
        font-size: 18.3px;
        font-weight: 500;
        line-height: 1.7rem;
    }

    .inicio__btn {
        width: 100px;
        height: 35px;
        font-size: 14.5px;
    }

    .inicio__btn--titulo {
        width: 220px;
        font-size: 1rem;
        margin-top: 25px;
    }

    .inicio__img--figure {
        /* display: none; */
        width: 96%;
    }


    .nav-item {
        display: none;
    }

    .border-bottom {
        display: none;
    }
}