.inicio__sesion {
  background-color: #f0f2f6;
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.inicio__container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px 35px;
  gap: 8px;
  width: 29.5%;
  /* width: 428px; */
  max-width: 428px;
  background-color: #ffffff;
  border-radius: 32px;
  box-shadow: 0 3px 3px 0px rgba(186, 185, 185, 0.202);
  position: relative;
  z-index: 10;
}

.inicio__titulo {
  font-size: 2.4rem;
  text-align: center;
}

.inicio__desc {
  text-align: center;
  font-size: 1.1rem;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 5px;
}

/*Seccion de iconos*/
.input-container {
  position: relative;
}

.input-container input {
  padding: 10px 10px 10px 40px;
  /* Espacio para el ícono */
}

.input-container .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  /* Centra el ícono verticalmente */
  font-size: 18px;
  color: #888;
}

/* Estilo del ícono del ojo */
#eye-icon {
  font-size: 19px;
  left: -16px;
  color: #aaaaaae3;
}

.form__input {
  width: 100%;
  padding: 8px;
  height: 52px;
  border-radius: 9px;
  border: 1.85px solid #f0f2f6;
  margin: 10px 0;
  background-color: #f0f2f6;
  text-indent: 8px;
}

/*El que lleva a registros*/
.inicio__extras {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.no__registrado {
  color: #656565;
  padding: 3px;
  text-decoration: none;
}

.btn__submit {
  background-color: #355bed;
  color: black;
  color: white;
  font-weight: 500;
  margin-top: 20px;
}

/*marca*/
.marca__registrada {
  font-size: 12.4px;
  text-align: center;
  margin-bottom: 0;

}

/*Revelar contraseña*/
.input-container {
  position: relative;
}

/* Estilo del ojo */
.toggle-password {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  /*centrado vertical */
  border: none;
  padding: 0;
  cursor: pointer;
}



/*Seccion de las ilustraciones*/

/*imagen izq*/
.imagen__izq {
  /* position: absolute; */
  order: -1;
  flex-shrink: 1;
  /* left: 13%; */
  /* top: 200px; */
  width: 320px;
}

.imagen__izq--img {
  width: 100%;
  /* filter: grayscale(); */
}

/*imagen derecha*/
.imagen__der {
  /* position: absolute; */
  flex-shrink: 1;
  width: 360px;
  right: 10%;
  top: 240px;
}

.imagen__der--img {
  width: 100%;
  /* filter: grayscale(); */
}

/*Tabletas*/
@media screen and (max-width: 1200px) {
  .inicio__container {
    width: 400px;
    /* width: 39%; */
  }
}

@media screen and (max-width: 1024px) {
  .inicio__container {
    width: 50%;
    padding: 40px;
  }
}

/*Moviles*/
@media screen and (max-width:425px) {
  .inicio__sesion {
    background-color: rgba(182, 225, 244, 0.78);
    background: linear-gradient(-15deg, rgba(62, 90, 228, 0.902), #4ccaf0da 20%, #e6f1f5 60%);
  }

  .wrapper-img {
    flex-direction: column;
    height: 100%;
    /* background-color: red; */
  }

  .inicio__container {
    width: 88%;
    padding: 25px 30px;
    gap: 0;
    box-shadow: 0 4px 5px 0px rgba(186, 185, 185, 0.202);
  }

  .inicio__titulo {
    font-size: 2rem;
  }

  .inicio__desc {
    font-size: 1rem;
  }

  .imagen__izq {
    display: none;
    width: 230px;
    order: 1;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .imagen__der {
    display: none;
    bottom: 0;
    z-index: -2;
  }

}