:root {
    --color-celeste: rgb(242, 247, 249);
    --color-texto: rgba(43, 55, 59, 0.756);
    --color-banda-roja: rgb(249, 231, 235);
    --color-banda-roja-text: rgb(174, 73, 106);
    --color-banda-verde: rgb(239, 252, 208);
    --color-banda-verde-text: rgb(140, 167, 96);
    --color-banda-amarillo: rgb(252, 238, 216);
    --color-banda-amarillo-text: rgb(185, 87, 50);
    --color-acento: rgb(46, 101, 246);
    --color-fondo: #f1f0f333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section{
    background-color: var(--color-fondo);
}

.inventario {
    display: flex;
    /* background-color: rgb(119, 255, 0); */
}

.titulo-inventario {
    font-weight: 700;
}

.cerrar-btn {
    /* width: 300px; */
    padding: 10px;
    background-color: var(--color-celeste);
    border-radius: 10px;
    font-size: 15px;
    color: #696f76;
}

.desc-inventario {
    color: var(--color-texto);
    /* font-size: 15px; */
}

.inventario__contenedor {
    padding: 20px;
    width: 100%;
}

.btn-primary {
    background-color: black;
    margin: 10px 0;
}

/*pagina de intermediarios*/
.intermediarios {
    display: flex;
    /* background-color: #f1f0f3de; */
}

.intermediarios__contenedor {
    padding: 20px;
    width: 100%;
}

/*pagina de provedores*/
.proveedores {
    display: flex;
}

.proveedores__contenedor {
    padding: 20px;
    width: 100%;
}

/*pagina de prodcutos*/
.productos {
    display: flex;
}


.buscador-container {
    display: flex;
    /* background-color: red; */
}

.buscador {
    width: 400px;
    height: 43px;
    border: 2px solid var(--color-celeste);
    font-size: 14px;
    color: var(--color-texto);
}

.buscador-btn {
    margin-left: 10px;
    border: 1px solid var(--color-celeste);
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--color-acento);
    color: white;
}

.tabla {
    width: 100%;
    /* background-color: rgba(128, 128, 128, 0.453); */
}

.tabla-encabezado {
    height: 36px;
    /* text-align: center; */
    background-color: rgb(242, 247, 249);
    font-size: 13px;
    color: rgb(105, 121, 128);
}

.tabla-cuerpo {
    font-size: 15px;
    color: var(--color-texto);
    font-weight: 500;
}

.alto-stock {
    padding: 5px 8px;
    background-color: var(--color-banda-verde);
    border-radius: 8px;
    border: 1px solid var(--color-banda-verde-text);
    color: var(--color-banda-verde-text);
}

.medio-stock {
    padding: 5px 8px;
    background-color: var(--color-banda-amarillo);
    border-radius: 8px;
    border: 1px solid var(--color-banda-amarillo-text);
    color: var(--color-banda-amarillo-text);
}

.bajo-stock {
    padding: 5px 8px;
    background-color: var(--color-banda-roja);
    border-radius: 8px;
    border: 1px solid var(--color-banda-roja-text);
    color: var(--color-banda-roja-text);
}

tr {
    border: 2px solid rgb(242, 247, 249);
}

td {
    padding-block: 10px;
    /* padding-inline: 20px; */
    /* border: 1px solid red; */
}

[scope="col"] {
    /* padding-inline: 50px; */
    width: 10%;
}

.productos__container {
    padding: 20px;
    width: 100%;
}

/*pagina de reporte de ventas*/
.reporteVentas {
    display: flex;
    /* background-color: #f1f0f3de; */
}

.reporteVentas__container {
    padding: 20px;
    width: 100%;
    /* background-color: red; */
}

/*pagina de reporte de ventas*/
.ventas {
    display: flex;
    /* background-color: red; */
}

.ventas__container {
    padding: 20px;
    /* background-color: red; */
    width: 90%;

}

/*pagina de reporte de usuarios*/
.usuarios {
    display: flex;
}

.usuarios__container {
    padding: 20px;
    width: 90%;
}

/* < !-- ESTILOS PARA EL DISEÑO DE LOS BOTONES AL AGREGAR PRODUCTOS--> */

.transition-effect {
    transition: all 0.3s ease-in-out;
}

.custom-btn {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 6px;
    /* Ligero redondeo para las esquinas */
    padding: 20px;
    /* Espaciado interno para mantener proporción del contenido */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1);
    /* Sombra externa para efecto 3D */
    width: 97px;
    /* Tamaño cuadrado */
    height: 97px;
    /* Tamaño cuadrado */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(to top,
            #ffffff,
            #f1f1f1);
    /* Gradiente suave para efecto 3D */
}

.custom-btn:hover {
    background-color: #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.15);
    /* Sombra más pronunciada al pasar el ratón */
}

.custom-tooltip .tooltip-inner {
    background-color: #343a40;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 4px;
    padding: 5px 10px;
    max-width: 200px;
    text-align: center;
}

.custom-tooltip .arrow::before {
    border-top-color: #343a40;
}

.product-name {
    font-size: 13px;
    word-wrap: break-word;
    /* Permite que el texto se divida si no cabe horizontalmente */
    text-align: center;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}