* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

.registro {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90vh;
    /* background-color: red; */
}

.parte__izquierda {
    background-color: #275cf6;
    width: 45%;
    height: 90vh;
    /* padding: 20px 70px 10px 100px; */
    color: white;
}

.izq-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
    gap: 30px;
    /* background-color: red; */
}

.izq__titulos-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 12%;
    /* background-color: yellow; */
}

/*Seccion izq*/
.izq__titulo {
    width: 80%;
    font-size: 2.5rem;
    text-align: left;
    font-weight: 600;
    line-height: 60px;
    /* background-color: red; */
}

.izq__desc {
    width: 70%;
    line-height: 27px;
    /* background-color: red; */
}

/*Seccion de la reseña*/
.card__reseña {
    background-color: #c6b5918d;
    border-radius: 20px;
    width: 60%;
    max-width: 372px;
    padding: 28px 34px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.048);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    align-self: flex-start;
    margin-left: 12%;
}

.card__titulo {
    font-size: 1.1rem;
}

.card__desc {
    font-size: 13.2px;
    /* width: 90%; */
}

.card__flex {
    /* background-color: red; */
    display: flex;
    gap: 10px;
    align-items: center;
}

.card__name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.card__flex--figure {
    width: 33px;
    height: 33px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card__flex--img {
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.flex__estrellas {
    margin-left: 40px;
    display: flex;
    gap: 2px;
}

/*las estrellas*/
.bi-star-fill {
    color: #ebfe58;
}


/*Parte derecha*/
.registro__container {
    width: 55%;
    height: 100%;
    background-color: white;
}

.parte__derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    gap: 40px;
    padding: 10px 125px;
    /* background-color: red; */
}

.registro__titulo {
    font-size: 2.3rem;
    margin-bottom: 0;
}

.form__input {
    width: 100%;
    padding: 3px;
    height: 48px;
    border-radius: 4px;
    margin: 10px 0;
    border: 1.85px solid #f0f2f6;
    text-indent: 8px;
    background-color: #f0f2f6bb;
}

[type="text"]:not([name="password"]) {
    text-transform: capitalize;
}

.apellidos__flex {
    display: flex;
    gap: 15%;
}

.form__input--paterno,
.form__input--materno {
    width: 230px;
    display: inline-block;
}

.input-group {
    width: 100%;
    /* background-color: yellow; */
}

.form__input--contraseña {
    width: 80%;
}

.generate__password {
    padding: 5px;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin: 10px 0;
    border: 1.85px solid #f0f2f6;
    font-size: 14px;
}

#signupForm {
    display: flex;
    flex-direction: column;
}

.btn__submit {
    font-weight: 500;
    margin-top: 20px;
    color: black;
    border: none;
    background-color: #6c6e7148;
    /* background-color: #275cf6;
    color: white; */
}

/*Por si cambia los colres*/
.btn__submit {
    background-color: #275cf6 !important;
    color: white !important;
}

.cuenta__creada {
    color: #656565;
    padding: 3px;
    /* text-decoration: none; */
}

.cuenta__creada--enlace {
    color: #000;
}

.etiqueta {
    color: #606470;
}



@media screen and (max-width: 428px) {
    .parte__izquierda {
        display: none;
    }

    .registro__container {
        width: 100vw;
        background-color: transparent;
    }

    .registro__titulo {
        margin-top: -5%;
    }

    .parte__derecha {
        /* background-color: yellow; */
        /* height: 100dvh; */
        gap: 10px;
        padding: 4%;
    }

    .form__input {
        border: none;
        width: 95%;
        margin: 7px;
        /* background-color: blue; */
    }

    .apellidos__flex {
        display: flex;
        width: 100%;
        gap: 30px;
        padding-right: 11px;
        /* background-color: red; */
    }

    .form__input--contraseña {
        width: 70%;
        margin-right: 0;
    }

    .generate__password {
        margin-top: 7px;
        width: 25%;
        padding: 0;
        border: 0;
        color: #000;
    }

    #signupForm {
        gap: 10px;
        /* background-color: red; */
    }
}