{% extends 'top navbar/top-navbar.html' %}


{% block title %} Manage warehouse {%endblock %}

{% block content %}

<!-- Almacen productos -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/products.css') }}" />


<section class="inventario">

  <!--no se pueden comentar , siguen funcionando-->
  {% include 'top navbar/top-width-navbar.html' %}

  <div class="inventario__contenedor">
    <h2 class="titulo-inventario">Gestion del inventario</h2>
    <!-- <p class="desc-inventario">Aquí encontrarás las herramientas necesarias para administrar y eliminar tus productos de
      manera eficiente. -->

      <!-- <br> -->
      <button type="button" class="btn btn-primary btn-mover" data-bs-toggle="modal" data-bs-target="#createmodal"
        data-bs-whatever="@mdo">
        <span data-section="manage-werehouse" data-value="Create">Crear producto</span>
      </button>

    <div class="table-responsive" style="max-height: 70vh; ">
      <!--tabla-->
      <table class="tabla" id="product-table">
        <thead class="tabla-encabezado">
          <tr>
            <th scope="col">#</th>
            <th scope="col">
              <span data-section="werehouse" data-value="Name Product">Nombre del producto</span>
            </th>
            <th scope="col">
              <span data-section="werehouse" data-value="Company">Compañia</span>
            </th>
            <th scope="col">
              <span data-section="werehouse" data-value="Name Intermedary">Nombre del intermediario</span>
            </th>
            <th scope="col">
              <span data-section="werehouse" data-value="Stock">Stock</span>
            </th>
            <th scope="col">
              <span data-section="werehouse" data-value="Unit Price">Precio unitario</span>
            </th>
            <th scope="col">
              <span data-section="manage-company" data-value="Actions">Acciones</span>
            </th>
          </tr>
        </thead>
        <tbody class="tabla-cuerpo">
          {% for product in products %}
          <tr data-product-id="{{ product[0] }}">
            <th scope="row">{{ product[0] }}</th>

            <td>{{ product[1] }}</td>

            <td>{{ product[9] }}</td>

            <td>{{ product[5] }} {{ product[6] }} {{ product[7] }}</td>

            <td>{{ product[3] }}</td>

            <td>${{ product[2] }} </td>
            <td class="text-center d-flex justify-content-center align-items-center">
              <button type="button" class="btn btn-secondary " data-bs-toggle="modal" data-bs-target="#editproduct"
                data-product-id="{{ product[0] }}" onclick="setEditProductId('{{ product[0] }}')"> <i
                  class="bi bi-pencil-square"></i>

                <!-- <span class="material-symbols-outlined">edit_square</span> -->
              </button>
              <button type="button" class="btn btn-danger mx-2 delete-product-btn" data-bs-toggle="modal"
                data-bs-target="#deleteproduct" data-product-id="{{ product[0] }}"
                onclick="setProductId('{{ product[0] }}')">
                <i class="bi bi-trash3-fill"></i>
                <!-- <span class="material-symbols-outlined">delete_forever</span> -->
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table> <!--fin tabla-->

    </div>
  </div>
</section>

<!-- CREAR PRODUCTOS MODAL -->
<div class="modal fade" id="createmodal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createmodallabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear nuevo producto</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createproductmodal" action="{{ url_for('products.manage_products') }}" method="post"
          class="needs-validation" novalidate>
          <input type="hidden" name="form_type" value="create">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="marca" class="form-label">Marca:</label>
                <input type="text" class="form-control" id="marca" name="marca" required />
              </div>
              <div class="mb-3">
                <label for="producto" class="form-label">Nombre del producto:</label>
                <input type="text" class="form-control" id="producto" name="producto" required />
              </div>
              <div class="mb-3">
                <label for="SelectUnitOfMeasure" class="form-label">Secciona una unidad de medida:</label>
                <select class="form-select" id="SelectUnitOfMeasure" name="SelectUnitOfMeasure" required>
                  <option value="" disabled selected>
                    Selecciona una uniadad de medida
                  </option>
                  <option value="pieces">Piezas</option>
                  <option value="liters">Litros</option>
                  <option value="milliliters">Milililitros</option>
                  <option value="kilogram">Kilogramo</option>
                  <option value="grams">Gramos</option>
                  <option value="customize">Personalizado</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="unitquantity" class="form-label">Unidad de medida:</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="unitquantity" name="unitquantity" min="1" required
                    disabled />
                  <span class="input-group-text" id="unitLabel"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="company-select">Seleccionar compañia:</label>
                <select class="form-select" id="company-select" name="company_id" required>
                  <option value="" disabled selected>Seleccionar compañia</option>
                  {% for company in companies %}
                  <option value="{{ company[0] }}">{{ company[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="intermedary-select">Seleccionar intermediario:</label>
                <select class="form-select" id="intermedary-select" name="intermedary_id" required>
                  <option value="" disabled selected>
                    Seleccionar intermediario
                  </option>
                  {% for relation in relations %}
                  <option value="{{ relation[2] }}" data-company-id="{{ relation[0] }}">
                    {{ relation[1] }} {{ relation[3] }} {{ relation[4] }} {{
                    relation[5] }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="cantidadInput" class="form-label">Stock:</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" required />
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="newprecio" class="form-label">Precio unitario:</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control input-float" id="precio" name="precio" min="1" step="0.01"
                      required />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end">
            <button type="button" class="btn btn-warning me-2" data-bs-dismiss="modal" onclick="limpiarModal()">
              Cerrar
            </button>
            <button id="submitProductSave" type="submit" class="btn btn-success">
              Guardar productos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--EDITAR-PRODUCTOS MODAL-->
<div class="modal fade" id="editproduct" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editproductlabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editproductlabel">Editar productos</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editproductform" action="{{ url_for('products.manage_products') }}" method="post"
          class="needs-validation" novalidate>
          <input type="hidden" name="form_type" value="update">
          <div class="row">
            <div class="col-md-6">
              <!--MARCA-PRODUCTOS-id>newmarca-->
              <div class="mb-3">
                <label for="newmarca" class="form-label">Nueva marca:</label>
                <input type="text" class="form-control" id="newmarca" name="newmarca" required />
              </div>
              <!--NEW-NAME-PRODUCTOS-id>newproducto-->
              <div class="mb-3">
                <label for="newproducto" class="form-label">Nuevo nombre del producto:</label>
                <input type="text" class="form-control" id="newproducto" name="newproducto" required />
              </div>
              <!--SLECT-NEW-UNIT-id>EditSelectUnitOfMeasure-->
              <div class="mb-3">
                <label for="EditSelectUnitOfMeasure" class="form-label">Seccionar unidad de medida:</label>
                <select class="form-select" id="EditSelectUnitOfMeasure" name="EditSelectUnitOfMeasure" required>
                  <option value="" disabled selected>
                    Seleccionar unidad de medida
                  </option>
                  <option value="pieces">Piezas</option>
                  <option value="liters">Litros</option>
                  <option value="milliliters">Mililitros</option>
                  <option value="kilogram">Kilogramo</option>
                  <option value="grams">Gramos</option>
                  <option value="custom">Personalizado</option>
                </select>
              </div>
              <!--NEW-UNIT-QUANTITY-id>editunitquantity-->
              <div class="mb-3">
                <label for="editunitquantity" class="form-label">Nuevo unidad de medida:</label>
                <div class="input-group">
                  <input type="number" class="form-control" id="editunitquantity" name="editunitquantity" min="1"
                    required />
                  <span class="input-group-text" id="editunitLabel"></span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <!--EDITAR-COMPANIA-SELECCIONADO-id>company-new-select-->
              <div class="mb-3">
                <option value="" disabled selected>Seleccionar Compañia</option>
                <select class="form-select" id="company-new-select" name="company-new-select" required>
                  <option value="" disabled selected>Seleccionar compañia</option>
                  {% for company in companies %}
                  <option value="{{ company[0] }}">{{ company[1] }}</option>
                  {% endfor %}
                </select>
              </div>

              <!--EDITAR-INTERMEDIARIO-SELECCIONADO-id>intermedary-new-select-->
              <div class="mb-3">
                <label for="intermedary-new-select">Seleccionar intermediario:</label>
                <select class="form-select" id="intermedary-new-select" name="intermedary-new-select" required>
                  <option value="" disabled selected>
                    Seleccionar intermediario
                  </option>
                  {% for relation in relations %}
                  <option value="{{ relation[2] }}" data-new-company-id="{{ relation[0] }}">
                    {{ relation[1] }} {{ relation[3] }} {{ relation[4] }} {{
                    relation[5] }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <!--NUEVA-CANTIDAD-id>newcantidad-->
              <div class="mb-3">
                <label for="newcantidadInput" class="form-label">Nuevo Stock:</label>
                <input type="number" class="form-control" id="newcantidadInput" name="newcantidad" min="1" required />
              </div>
              <!--NUEVO-PRECIO-id>newprecio2-->
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="newprecio2" class="form-label">Nuevo precio unitario:</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control input-float" id="newprecio2" name="newprecio" step="0.01"
                      min="1" required />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end">
            <button type="button" class="btn btn-warning me-2" data-bs-dismiss="modal">
              Cerrar
            </button>
            <input id="editproduct_id" type="hidden" name="editproductid" value="" />
            <button id="submitEditProductSave" type="submit" class="btn btn-success">
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--ELIMINAR PRODUCTO MODAL-->
<div class="modal fade" id="deleteproduct" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteproductlabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar productos</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          ¿Estas seguro de eliminar este producto?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Cerrar
        </button>
        <form id="delete-product-form" action="{{ url_for('products.manage_products') }}" method="post">
          <input type="hidden" name="form_type" value="delete">
          <input id="product-id-input" type="hidden" name="product_id" value="" />
          <button id="delete-product-btn" type="submit" class="btn btn-danger">
            Eliminar producto
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- TOAST PARA DAR FEEDBACK DEL NOMBRE DE INTERMEDIARIO-->
<div class="mt-5 position-fixed p-3 end-0 bottom-0" style="z-index: 9999;">
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="fas fa-exclamation-circle"></i>
      <strong class="me-auto mx-2">Warning!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
    </div>
    <div class="toast-body mx-1 mt-1">
      Ajusta nuevamente el nombre del intermediario
    </div>
  </div>
</div>

<!-- Elemento oculto para almacenar los datos de 'members' -->
<div id="members-data" data-members="{{ members }}" style="display: none"></div>


<!-- DIV OCULTO PARA GUARDAR LOS MENSAJES -->
<div id="flash-messages" style="display: none;">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!-- MOTAL PARA MOSTRAR FLASH -->
<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flashModalLabel">Nortification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="flashModalBody">
        <!-- LOS MENSAJES SE MOSTRARAN AQUI -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- MOSTRAR EL MODAL PARA MOSTRAR ERRORES Y MENSAJES  -->
<script>
  $(document).ready(function () {
    var flashMessages = $('#flash-messages').html().trim();
    if (flashMessages) {
      $('#flashModalBody').html(flashMessages);
      $('#flashModal').modal('show');
    }
  });
</script>



<!-- <script src="{{ url_for('static', filename='js/qrScan.js') }}"></script>-->

<!--               FUNCIONALIDADES COMPARTIDAS POR MODAL                   -->

<!-- OBTIENE EL ID DEL PRODUCTO Y LO TOMA PARA PODER ENVIARLO A LA DB O PRECARGAR DATOS (NO BORRAR)-->
<script>
  function setProductId(productId) {
    document.getElementById("product-id-input").value = productId;
    console.log("productId BORRAR>" + productId);
  }

  function setEditProductId(productId) {
    document.getElementById("editproduct_id").value = productId;
    console.log("Pasa aqui 2");
    console.log("productId EDITAR>" + productId);

    // Encuentra la fila con el data-product-id correspondiente
    var table = document.getElementById("product-table");
    var rows = table.getElementsByTagName("tr");
    var foundRow = null;
    for (var i = 0; i < rows.length; i++) {
      var rowProductId = rows[i].getAttribute("data-product-id");
      if (rowProductId === productId) {
        foundRow = rows[i];
        break;
      }
    }

    if (foundRow) {
      console.log("Se encontró la fila con productId =", productId);
      // Obtiene todos los datos de las celdas en la fila
      var rowData = Array.from(foundRow.children).map((cell) =>
        cell.textContent.trim()
      );

      // Asigna los datos a variables
      //var id = rowData[0];

      //NOMBRE DEL PRODUCTO (FUNCIONA)
      console.log("rowdata> " + rowData[1]);
      var separatedData = rowData[1].split('_');
      console.log("el nombre del producto seleccionado es: " + separatedData);
      document.getElementById("newmarca").value = separatedData[0];
      document.getElementById("newproducto").value = separatedData[1];
      //FIN

      //STOCK (FUNCIONA)
      var stock = rowData[4];
      document.getElementById("newcantidadInput").value = stock;
      //FIN

      //PRECIO POR UNIDAD (FUNCIONA)
      var precioUnitario = parseFloat(rowData[5].replace("$", "")).toFixed(2);
      document.getElementById("newprecio2").value = precioUnitario;
      //FIN

      //UNIDAD DE PRESENTACIÓN (FUNCIONA)
      var captureUnitofMeasure = rowData[1].replace(/_/g, " "); // Reemplazar "_" con espacio
      var numeroProducto = captureUnitofMeasure.match(/\d+/); // Esto extraerá cualquier secuencia de dígitos
      var numeroProductoFlotante = parseFloat(numeroProducto);
      console.log(
        "LA UNIDAD DE MEDIDA ES DE SELECCIONADO ES DE " + numeroProductoFlotante
      );
      document.getElementById("editunitquantity").value =
        numeroProductoFlotante;
      //FIN

      //SELECCIONAR EL NOMBRE Y EXTRAE LAS UNIDADES PARA INGRESARLO EN MI SELECT UNITOFMEASURE
      let nameProductExtract = rowData[1];

      // Expresión regular para capturar la unidad de medida
      let abreviaturas = /(\d+)\s*(gr|Pzs|l|ml|kg|custom)$/;

      let capturarAbreviatura = nameProductExtract.match(abreviaturas);

      let unidad_de_medida = capturarAbreviatura[2]; // Unidad de medida
      console.log("Unidad de medida que se extrajo:", unidad_de_medida);

      // Segunda condición para determinar la unidad de medida en base a lo que se haya capturado
      let unidad_traducida;
      switch (unidad_de_medida) {
        case "Pzs":
          unidad_traducida = "pieces";
          break;
        case "l":
          unidad_traducida = "liters";
          break;
        case "ml":
          unidad_traducida = "milliliters";
          break;
        case "kg":
          unidad_traducida = "kilogram";
          break;
        case "gr":
          unidad_traducida = "grams";
          break;
        default:
          unidad_traducida = "custom";
      }

      console.log("Unidad de medida que se extrajo:", unidad_traducida);

      // Obtener el elemento select
      var selectElement = document.getElementById("EditSelectUnitOfMeasure");

      // Iterar sobre las opciones del elemento select
      for (var i = 0; i < selectElement.options.length; i++) {
        var option = selectElement.options[i];
        console.log("Opción", i, "Valor:", option.value, "Texto:", option.text);
        // Verificar si el texto de la opción coincide con el nombre de la empresa
        if (option.value === unidad_traducida) {
          // Establecer el valor del elemento select a la opción correspondiente
          selectElement.selectedIndex = i;
          console.log("Opción seleccionada del intermediario:", option.text);
          // Opcionalmente, puedes salir del bucle si solo quieres seleccionar la primera coincidencia
          // break;
        }
      }
      //FIN

      //SELECCIONAR COMPAÑIA (TERMINADO)
      // Obtener el nombre de la empresa
      var nombreEmpresa = rowData[2].toString();
      console.log("Nombre de la empresa:", nombreEmpresa);

      // Obtener el elemento select
      var selectElement = document.getElementById("company-new-select");

      // Iterar sobre las opciones del elemento select
      for (var i = 0; i < selectElement.options.length; i++) {
        var option = selectElement.options[i];
        console.log("Opción", i, "Valor:", option.value, "Texto:", option.text);
        // Verificar si el texto de la opción coincide con el nombre de la empresa
        if (option.text === nombreEmpresa) {
          // Establecer el valor del elemento select a la opción correspondiente
          selectElement.selectedIndex = i;
          console.log("Opción seleccionada:", option.text);
          // Opcionalmente, puedes salir del bucle si solo quieres seleccionar la primera coincidencia
          // break;
        }
      }
      //FIN

      //SELECCIONAR INTERMEDIARIOS (TERMINADO)
      // Obtener el nombre del intermediario
      var nombreIntermediario =
        rowData[2] + " " + rowData[3].replace(/\s+/g, " ").trim(); // Eliminar espacios extra
      console.log("Nombre del intermediario:", nombreIntermediario);

      // Obtener el elemento select
      var selectElement = document.getElementById("intermedary-new-select");

      // Iterar sobre las opciones del elemento select
      for (var i = 0; i < selectElement.options.length; i++) {
        var option = selectElement.options[i];
        console.log("Opción", i, "Valor:", option.value, "Texto:", option.text);
        // Verificar si el texto de la opción coincide con el nombre de la empresa
        if (option.text === nombreIntermediario) {
          // Establecer el valor del elemento select a la opción correspondiente
          selectElement.selectedIndex = i;
          console.log("Opción seleccionada del intermediario:", option.text);
          // Opcionalmente, puedes salir del bucle si solo quieres seleccionar la primera coincidencia
          // break;
        }
      }
      //FIN

      var tostada = new bootstrap.Toast(document.getElementById('toast'));
      tostada.show();
    } else {
      console.log("Fila no encontrada para productId:", productId);
    }
  }
</script>







<!--CREATE MODAL SCRIPT PARA MANEJO DE COMPAÑIAS E INTERMEDIARIOS DINAMICOS-->
<script>
  function filterIntermediaries() {
    // Obtener el valor de la compañía seleccionada
    var selectedCompanyId = document.getElementById("company-select").value;
    console.log(selectedCompanyId);

    // Obtener todas las opciones de intermediarios
    var intermediaries = document.querySelectorAll("#intermedary-select option");

    // Recorrer todas las opciones de intermediarios
    intermediaries.forEach(function (option) {
      // Obtener el valor del atributo data-company-id asociado con el intermediario
      var intermediaryCompanyId = option.getAttribute('data-company-id');
      console.log(intermediaryCompanyId);
      // Comparar la compañía seleccionada con la compañía del intermediario
      if (intermediaryCompanyId !== selectedCompanyId) {
        // Ocultar el intermediario si no coincide con la compañía seleccionada
        option.style.display = "none";
      } else {
        // Mostrar el intermediario si coincide con la compañía seleccionada
        option.style.display = "block";
      }
    });
  }

  // Agregar un evento de cambio al campo de selección de compañía
  document.getElementById("company-select").addEventListener("change", filterIntermediaries);

  // Filtrar las opciones de intermediarios al cargar la página
  filterIntermediaries();

</script>


<script>
  function filterIntermediaries() {
    // Obtener el valor de la compañía seleccionada
    var selectedCompanyId = document.getElementById("company-new-select").value;
    console.log(selectedCompanyId);

    // Obtener todas las opciones de intermediarios
    var intermediaries = document.querySelectorAll("#intermedary-new-select option");

    // Recorrer todas las opciones de intermediarios
    intermediaries.forEach(function (option) {
      // Obtener el valor del atributo data-company-id asociado con el intermediario
      var intermediaryCompanyId = option.getAttribute('data-new-company-id');
      console.log(intermediaryCompanyId);
      // Comparar la compañía seleccionada con la compañía del intermediario
      if (intermediaryCompanyId !== selectedCompanyId) {
        // Ocultar el intermediario si no coincide con la compañía seleccionada
        option.style.display = "none";
      } else {
        // Mostrar el intermediario si coincide con la compañía seleccionada
        option.style.display = "block";
      }
    });
  }

  // Agregar un evento de cambio al campo de selección de compañía
  document.getElementById("company-new-select").addEventListener("change", filterIntermediaries);

  // Filtrar las opciones de intermediarios al cargar la página
  filterIntermediaries();

</script>










<!--No eliminar-->
<!--EDIT MODAL SCRIPT PARA MANEJO DE COMPAÑIAS E INTERMEDIARIOS DINAMICOS-->
<!-- <script>
  // Función para filtrar intermediarios basados en la compañía seleccionada
  function filterIntermediaries() {
    // Obtener la opción seleccionada de la compañía
    var selectedOption =
      document.getElementById("company-new-select").options[
        document.getElementById("company-new-select").selectedIndex
      ];

    // Obtener el texto de la opción seleccionada (nombre de la compañía)
    var selectedCompany = selectedOption.textContent.toLowerCase().trim();
    console.log(selectedCompany);

    // Obtener todas las opciones de intermediarios
    var intermediaries = document.querySelectorAll(
      "#intermedary-new-select option"
    );

    // Recorrer todas las opciones de intermediarios
    intermediaries.forEach(function (option) {
      // Obtener la compañía asociada con el intermediario (formato: "Compañía Nombre Apellido Apellido")
      var companyAndName = option.textContent.trim().toLowerCase();
     
      // Obtener solo el nombre de la compañía del intermediario
      var intermediaryCompany = companyAndName.split(" ")[0];
      
      // Comparar la compañía seleccionada con la compañía del intermediario
      if (intermediaryCompany !== selectedCompany) {
        // Ocultar el intermediario si no coincide con la compañía seleccionada
        option.style.display = "none";
      } else {
        // Mostrar el intermediario si coincide con la compañía seleccionada
        option.style.display = "block";
      }
    });
  }

  // Agregar un event listener para el cambio en la selección de compañía
  document
    .getElementById("company-new-select")
    .addEventListener("change", filterIntermediaries);

  // Filtrar las opciones de intermediarios al cargar la página
  filterIntermediaries();
</script> -->

<!-- EVITA COPIAR, PEGAR, CORTAR EN TODOS LOS INPUTS MENOS EN LOS DE NOMBRE-->
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    // Deshabilitar copiar, pegar y cortar en todos los inputs
    document.querySelectorAll("input").forEach((input) => {
      input.addEventListener("copy", (e) => e.preventDefault());
      input.addEventListener("paste", (e) => e.preventDefault());
      input.addEventListener("cut", (e) => e.preventDefault());
    });

    // Habilitar copiar, pegar y cortar en los inputs específicos
    const enableEvents = ["marca", "producto", "newmarca", "newproducto"];
    enableEvents.forEach((id) => {
      let input = document.getElementById(id);
      if (input) {
        input.removeEventListener("copy", (e) => e.preventDefault());
        input.removeEventListener("paste", (e) => e.preventDefault());
        input.removeEventListener("cut", (e) => e.preventDefault());
      }
    });
  });
</script>

<!-- VALIDA LOS ESPACIOS INICIALES Y FINALES QUE EL USUARIO PUEDA LLEGAR A PONER, Y QUE NO PUEDA COPIAR Y PEGARSE ESPACIOS-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var trimDelay = 500; // Cambia este valor según el tiempo que desees en milisegundos
    var timeout = null;

    // Función para eliminar espacios en blanco de los valores de los campos de entrada
    function trimInputFields() {
      var inputFields = document.querySelectorAll("input:not([type='number'])");
      inputFields.forEach(function (input) {
        input.value = input.value.trim();
      });
    }

    // Función para reiniciar el temporizador
    function resetTrimTimer() {
      clearTimeout(timeout);
      timeout = setTimeout(trimInputFields, trimDelay);
    }

    // Función para manejar el evento de pegar y eliminar espacios en blanco
    function handlePaste(event) {
      var paste = (event.clipboardData || window.clipboardData).getData("text");
      event.preventDefault();
      var trimmedPaste = paste.trim();
      document.execCommand("insertText", false, trimmedPaste);
      resetTrimTimer();
    }

    // Agregar eventos a todos los campos de entrada que no son de tipo "number"
    var inputFields = document.querySelectorAll("input:not([type='number'])");
    inputFields.forEach(function (input) {
      input.addEventListener("input", resetTrimTimer);
      input.addEventListener("change", resetTrimTimer);
      input.addEventListener("blur", resetTrimTimer);
      input.addEventListener("paste", handlePaste);
    });
  });
</script>

<!-- LIMITA EL NÚMERO DE CARACTERES DE LAS ENTRADAS-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var maxCharactersText = 35; // Máximo de caracteres para campos de texto
    var maxCharactersNumber = 6; // Máximo de caracteres para campos de número

    // Función para manejar el evento de entrada y limitar la longitud de los campos de entrada
    function handleInput(event) {
      if (
        event.target.type === "text" &&
        event.target.value.length > maxCharactersText
      ) {
        event.target.value = event.target.value.substring(0, maxCharactersText); // Limita a maxCharactersText para campos de texto
      } else if (
        event.target.type === "number" &&
        event.target.value.length > maxCharactersNumber
      ) {
        event.target.value = event.target.value.substring(
          0,
          maxCharactersNumber
        ); // Limita a maxCharactersNumber para campos de número
      }
    }

    // Agregar evento de entrada a todos los campos de entrada
    var inputFields = document.querySelectorAll("input");
    inputFields.forEach(function (input) {
      input.addEventListener("input", handleInput);
    });
  });
</script>

<!-- VALIDA EL NULO INGRESO DE OPERADORES EN LOS INPUTS DE TIPO NUMERO-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Función para prevenir caracteres no numéricos y operadores en inputs de tipo number
    function preventInvalidChars(event) {
      if (
        event.target.type === "number" &&
        (event.key === "e" ||
          event.key === "E" ||
          event.key === "-" ||
          event.key === "+" ||
          (event.key === "." &&
            ![
              "editunitquantity",
              "unitquantity",
              "precio",
              "newprecio2",
            ].includes(event.target.id)))
      ) {
        event.preventDefault();
      }
    }

    // Agregar evento solo a los campos de entrada de tipo number
    var numberFields = document.querySelectorAll("input[type='number']");
    numberFields.forEach(function (input) {
      input.addEventListener("keydown", preventInvalidChars);
    });
  });
</script>

<!-- SOLO PERMITE AGREGAR UN UNICO ESPACIO EN TODOS LOS INPUTS-->
<script>
  // Función para mantener solo un espacio entre palabras en los campos de entrada de texto
  function limitarEspacios(event) {
    // Obtener el valor actual del campo
    var valorCampo = event.target.value;
    // Reemplazar múltiples espacios por uno solo
    var valorSinEspaciosRepetidos = valorCampo.replace(/\s+/g, " ");
    // Actualizar el valor del campo con un solo espacio entre palabras
    event.target.value = valorSinEspaciosRepetidos;
  }

  // Seleccionar todos los campos de entrada de texto y textarea
  var inputspace = document.querySelectorAll(
    'input[type="text"], input[type="password"], input[type="email"], textarea'
  );

  // Agregar evento de escucha para cada campo de entrada
  inputspace.forEach(function (input) {
    input.addEventListener("input", limitarEspacios);
  });
</script>

<!-- EVITA EL USO DE COMILLAS EN TODOS LOS CAMPOS -->
<script>
  // Función para eliminar comillas simples, comillas dobles y el carácter de subrayado de todos los campos de entrada
  document.querySelectorAll("input").forEach(function (input) {
    input.addEventListener("input", function (event) {
      // Obtener el valor actual del campo de entrada
      var inputValue = event.target.value;
      // Eliminar comillas simples, comillas dobles y subrayados del valor actual
      var cleanedValue = inputValue.replace(/['"_]+/g, "");
      // Actualizar el valor del campo de entrada sin comillas simples, comillas dobles y subrayados
      event.target.value = cleanedValue;
    });
  });
</script>

<!-- RESETEA LOS MODALES A UN ESTADO POR DEFECTO -->
<script>
  // Función para limpiar los campos del modal de creación de productos
  function limpiarModal() {
    // Limpia los campos del formulario
    document.getElementById("createproductmodal").reset();
  }

  // Función para limpiar los campos del modal de edición de productos
  function limpiarEditModal() {
    // Limpia los campos del formulario
    document.getElementById("editproductform").reset();
  }

  // Escuchar el evento de cierre del modal de creación de productos
  $("#createmodal").on("hidden.bs.modal", function () {
    // Llamar a la función para limpiar los campos del modal
    limpiarModal();
  });

  // Escuchar el evento de cierre del modal de edición de productos
  $("#editproduct").on("hidden.bs.modal", function () {
    // Llamar a la función para limpiar los campos del modal
    limpiarEditModal();
  });
</script>

<!-- DA FEEDBACK PARA RECOMENDAR NO PONER CANTIDAD EN 0 -->
<script>
  $(document).ready(function () {
    function validateInput(input) {
      if (input.val() == 0) {
        input.removeClass("is-valid").addClass("is-invalid");
        input
          .tooltip({
            title: "Tip: don't record prices, stock or units of zero (0).",
            placement: "top",
            trigger: "manual",
            customClass: "custom-tooltip", // Aquí se aplica la clase personalizada
          })
          .tooltip("show");
      } else {
        input.removeClass("is-invalid").addClass("is-valid");
        input.tooltip("dispose");
      }
    }

    $(
      "#unitquantity, #cantidad, #precio, #editunitquantity, #newcantidadInput, #newprecio2"
    ).on("input", function () {
      validateInput($(this));
    });

    // Escucha el evento de cierre del modal
    $(".modal").on("hidden.bs.modal", function () {
      // Selecciona todos los campos de entrada que necesitas resetear
      $(
        "#unitquantity, #cantidad, #precio, #editunitquantity, #newcantidadInput, #newprecio2"
      ).each(function () {
        $(this).removeClass("is-valid is-invalid"); // Remueve las clases de validación
        $(this).tooltip("dispose"); // Destruye el tooltip
        $(this).val(""); // Opcional: Limpia el valor del campo de entrada
      });
    });
  });
</script>

<!-- MUESTA MENSAJE DE LISTA VACIAS -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Verificar si la tabla está vacía
    const tableBody = document.querySelector("#product-table tbody");
    if (!tableBody || tableBody.children.length === 0) {
      const emptyTableMessage = document.createElement("tr");
      emptyTableMessage.innerHTML = `
        <td colspan="6" class="text-center">Lista de elementos vacía.</td>
      `;
      tableBody.appendChild(emptyTableMessage);
    }
  });
</script>

<!--                FIN DE FUNCIONALIDADES COMPARTIDAS                     -->
<!---->
<!---->
<!---->
<!---->
<!--                                  CREATE MODAL VALIDACIONES                                   -->

<!-- EVITA ENVIAR EL FORMULARIO SI LOS CAMPOS ESTAN POR DEFECTO O SI CONTIENEN ALGUN ERROR CRITICO-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var form = document.getElementById("createproductmodal");
    var saveButton = document.getElementById("submitProductSave");
    var tooltip = new bootstrap.Tooltip(saveButton, {
      placement: "top",
      title: "Please fill in all fields.",
      trigger: "manual",
      customClass: "custom-tooltip", // Aquí se aplica la clase personalizada
    });

    function validateForm() {
      var requiredFields = form.querySelectorAll("[required]");
      var isEmpty = false;
      requiredFields.forEach(function (field) {
        if (!field.value.trim()) {
          isEmpty = true;
        }
      });
      saveButton.disabled = isEmpty;
      if (isEmpty) {
        saveButton.classList.remove("btn-success");
        saveButton.classList.add("btn-danger");
        tooltip.show();
      } else {
        saveButton.classList.remove("btn-danger");
        saveButton.classList.add("btn-success");
        tooltip.hide();
      }
    }

    form.addEventListener("submit", function (event) {
      validateForm();
      if (saveButton.disabled) {
        event.preventDefault();
      }
    });

    form.addEventListener("input", function () {
      validateForm();
    });

    $("#createmodal").on("hidden.bs.modal", function () {
      form.reset();
      saveButton.classList.remove("btn-danger");
      saveButton.classList.add("btn-success");
      saveButton.disabled = false;
      tooltip.hide();
    });

    document
      .getElementById("SelectUnitOfMeasure")
      .addEventListener("change", function () {
        var unitQuantityInput = document.getElementById("unitquantity");
        var unitLabel = document.getElementById("unitLabel");
        if (this.value) {
          unitQuantityInput.disabled = false;
          unitLabel.textContent = this.options[this.selectedIndex].text;
        } else {
          unitQuantityInput.disabled = true;
          unitQuantityInput.value = "";
          unitLabel.textContent = "";
        }
        validateForm();
      });
  });
</script>

<!-- FUNCIONALIDAD PARA EL LIST DE UNIDAD DE MEDIDA-->
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    const selectUnit = document.getElementById("SelectUnitOfMeasure");
    const unitQuantityInput = document.getElementById("unitquantity");
    const unitLabel = document.getElementById("unitLabel");

    let currentUnit = "";
    let incrementValue = 1;

    selectUnit.addEventListener("change", function () {
      const selectedOption = this.value;
      currentUnit = selectedOption;
      if (selectedOption !== "") {
        unitQuantityInput.removeAttribute("disabled");
        updateUnitLabel(selectedOption);
      } else {
        unitQuantityInput.setAttribute("disabled", "disabled");
        unitLabel.textContent = "";
      }
      updateIncrementValue(unitQuantityInput.value);
    });

    unitQuantityInput.addEventListener("input", function () {
      updateIncrementValue(this.value);
    });

    function updateUnitLabel(unit) {
      switch (unit) {
        case "pieces":
          unitLabel.textContent = "Pzs";
          break;
        case "liters":
          unitLabel.textContent = "l";
          break;
        case "milliliters":
          unitLabel.textContent = "ml";
          break;
        case "kilogram":
          unitLabel.textContent = "kg";
          break;
        case "grams":
          unitLabel.textContent = "g";
          break;
        default:
          unitLabel.textContent = "custom";
      }
    }
  });
</script>

<!--                             FIN DEL CREATE MODAL VALIDACIONES                                -->
<!---->
<!---->
<!---->
<!---->
<!--                                  EDIT MODAL VALIDACIONES                                     -->

<!-- EVITA ENVIAR EL FORMULARIO SI LOS CAMPOS ESTAN POR DEFECTO O SI CONTIENEN ALGUN ERROR CRITICO-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var form = document.getElementById("editproductform");
    var saveButton = document.getElementById("submitEditProductSave");
    var tooltip = new bootstrap.Tooltip(saveButton, {
      placement: "top",
      title: "Please fill in all fields.",
      trigger: "manual",
      customClass: "custom-tooltip", // Aquí se aplica la clase personalizada
    });

    function validateForm() {
      var requiredFields = form.querySelectorAll("[required]");
      var isEmpty = false;
      requiredFields.forEach(function (field) {
        if (!field.value.trim()) {
          isEmpty = true;
        }
      });
      saveButton.disabled = isEmpty;
      if (isEmpty) {
        saveButton.classList.remove("btn-success");
        saveButton.classList.add("btn-danger");
        tooltip.show();
      } else {
        saveButton.classList.remove("btn-danger");
        saveButton.classList.add("btn-success");
        tooltip.hide();
      }
    }

    form.addEventListener("submit", function (event) {
      validateForm();
      if (saveButton.disabled) {
        event.preventDefault();
      }
    });

    form.addEventListener("input", function () {
      validateForm();
    });

    $("#editproduct").on("hidden.bs.modal", function () {
      form.reset();
      saveButton.classList.remove("btn-danger");
      saveButton.classList.add("btn-success");
      saveButton.disabled = false;
      tooltip.hide();
    });

    document
      .getElementById("EditSelectUnitOfMeasure")
      .addEventListener("change", function () {
        var unitQuantityInput = document.getElementById("editunitquantity");
        var unitLabel = document.getElementById("editunitLabel");
        if (this.value) {
          unitQuantityInput.disabled = false;
          unitLabel.textContent = this.options[this.selectedIndex].text;
        } else {
          unitQuantityInput.disabled = true;
          unitQuantityInput.value = "";
          unitLabel.textContent = "";
        }
        validateForm();
      });
  });
</script>

<!-- FUNCIONALIDAD PARA EL LIST DE UNIDAD DE MEDIDA-->
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    const selectUnit = document.getElementById("EditSelectUnitOfMeasure");
    const unitQuantityInput = document.getElementById("editunitquantity");
    const unitLabel = document.getElementById("editunitLabel");

    let currentUnit = "";
    let incrementValue = 1;

    selectUnit.addEventListener("change", function () {
      const selectedOption = this.value;
      currentUnit = selectedOption;
      if (selectedOption !== "") {
        unitQuantityInput.removeAttribute("disabled");
        updateUnitLabel(selectedOption);
      } else {
        unitQuantityInput.setAttribute("disabled", "disabled");
        unitLabel.textContent = "";
      }
      updateIncrementValue(unitQuantityInput.value);
    });

    unitQuantityInput.addEventListener("input", function () {
      updateIncrementValue(this.value);
    });

    function updateUnitLabel(unit) {
      switch (unit) {
        case "pieces":
          unitLabel.textContent = "Pzs";
          break;
        case "liters":
          unitLabel.textContent = "l";
          break;
        case "milliliters":
          unitLabel.textContent = "ml";
          break;
        case "kilogram":
          unitLabel.textContent = "kg";
          break;
        case "grams":
          unitLabel.textContent = "g";
          break;
        default:
          unitLabel.textContent = "custom";
      }
    }
  });
</script>
<!-- FUNCIONALIDAD PARA AJUSTAR A DOS DECIMALES CLASE(input-float)-->
<script>
  document.querySelectorAll('input[type="number"].input-float').forEach(function (input) {
    input.addEventListener('input', function (e) {
      var value = e.target.value;

      // Verificar si hay más de dos decimales
      if (value.includes('.')) {
        var parts = value.split('.');
        if (parts[1].length > 2) {
          // Limitar a dos decimales
          e.target.value = parts[0] + '.' + parts[1].substring(0, 2);
        }
      }
    });

    // Opcional: Redondear a dos decimales al perder el foco
    input.addEventListener('blur', function (e) {
      if (e.target.value === "") return; // Evita errores si el campo está vacío
      var value = parseFloat(e.target.value).toFixed(2);
      if (!isNaN(value)) {
        e.target.value = value;
      }
    });
  });
</script>

<!--                                 FIN EDIT MODAL VALIDACIONES                                  -->

{% endblock %}