{% extends 'top navbar/top-navbar.html' %}
{% block title %} Inventario {%endblock %}
{% block estilos%}

{% endblock%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/products.css') }}" />


<section class="productos">

  {% include 'top navbar/top-width-navbar.html' %}

  <div class="productos__container">
    <h2 class="titulo-inventario">Inventario</h2>
    <p class="desc-inventario">¡Bienvenido! Aquí encontrarás todos los puntos clave para administrar tus
      existencias.
    </p>
    <form class="d-flex mt-3" method="POST" action="{{ url_for('products.warehouse') }}">
      <!--Buscador-->
      <div class="buscador-container">
        <!-- <i class="fas fa-door-open form__logo--icon"></i> -->

        <input class="form-control buscador" type="search" placeholder="Buscar" name="search_term" />
        <button class="buscador-btn" type="submit"><span data-section="werehouse" data-value="Search">Buscar</span>
        </button>
      </div>
      <!--Btn-->

    </form>

    <div class="col-md-12 mt-3 flex-wrap justify-content-center align-items-start">
      <div class="table-responsive" style="max-height: 510px; overflow-y: auto">
        <table class="tabla ">
          <!-- Mantenemos las clases existentes y agregamos espaciado -->
          <thead class="tabla-encabezado">
            <tr class="">
              <th scope="col">#</th>

              <th scope="col"><span data-section="werehouse" data-value="Name Product">Nombre</span></th>

              <th scope="col"><span data-section="werehouse" data-value="Company">Compañia</span></th>

              <th scope="col"><span data-section="werehouse" data-value="Name Intermedary">
                  Intermediario</span></th>

              <th scope="col"><span>Tel. </span></th>

              <th scope="col"><span data-section="werehouse" data-value="Stock">Stock</span></th>

              <th scope="col"><span data-section="werehouse" data-value="Unit Price">Precio</span></th>
            </tr>
          </thead>

          <tbody class="tabla-cuerpo">
            <!-- Enviar mediante un array llamada task los valores (el nombre lo vamos a cambiar a futuro) -->
            {% for product in products %}
            <tr>

              <th scope="row">{{ product[0] }}</th>

              <td>{{ product[1] }}</td>

              <td>{{ product[9] }}</td>

              <td>{{ product[5] }} {{ product[6] }} {{ product[7] }} </td>

              <td>{{ product[8] }}</td>

              <td>
                {% if product[3] > 70 %}
                <span class="alto-stock">{{ product[3] }} - Alto Stock</span>
                {% elif product[3] >= 50 %}
                <span class="medio-stock">{{ product[3] }} - Medio Stock</span>
                {% else %}
                <span class="bajo-stock">{{ product[3] }} - Bajo Stock</span>
                {% endif %}
              </td>


              <td>${{ product[2] }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>

<!-- DIV OCULTO PARA GUARDAR LOS MENSAJES -->
<div id="flash-messages" style="display: none;">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!-- MOTAL PARA MOSTRAR FLASH -->
<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flashModalLabel">Notificacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="flashModalBody">
        <!-- LOS MENSAJES SE MOSTRARAN AQUI -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- MOSTRAR EL MODAL PARA MOSTRAR ERRORES Y MENSAJES  -->
<script>
  $(document).ready(function () {
    var flashMessages = $('#flash-messages').html().trim();
    if (flashMessages) {
      $('#flashModalBody').html(flashMessages);
      $('#flashModal').modal('show');
    }
  });
</script>

<!-- VALIDA LOS ESPACIOS INICIALES Y FINALES QUE EL USUARIO PUEDA LLEGAR A PONER, Y QUE NO PUEDA COPIAR Y PEGARSE ESPACIOS-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var trimDelay = 500; // Cambia este valor según el tiempo que desees en milisegundos
    var timeout = null;

    // Función para eliminar espacios en blanco de los valores de los campos de entrada
    function trimInputFields() {
      var inputFields = document.querySelectorAll("input:not([type='number'])");
      inputFields.forEach(function (input) {
        input.value = input.value.trim();
      });
    }

    // Función para reiniciar el temporizador
    function resetTrimTimer() {
      clearTimeout(timeout);
      timeout = setTimeout(trimInputFields, trimDelay);
    }

    // Función para manejar el evento de pegar y eliminar espacios en blanco
    function handlePaste(event) {
      var paste = (event.clipboardData || window.clipboardData).getData("text");
      event.preventDefault();
      var trimmedPaste = paste.trim();
      document.execCommand("insertText", false, trimmedPaste);
      resetTrimTimer();
    }

    // Agregar eventos a todos los campos de entrada que no son de tipo "number"
    var inputFields = document.querySelectorAll("input:not([type='number'])");
    inputFields.forEach(function (input) {
      input.addEventListener("input", resetTrimTimer);
      input.addEventListener("change", resetTrimTimer);
      input.addEventListener("blur", resetTrimTimer);
      input.addEventListener("paste", handlePaste);
    });
  });
</script>

<!-- LIMITA EL NÚMERO DE CARACTERES DE LAS ENTRADAS-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var maxCharactersText = 25; // Máximo de caracteres para campos de texto
    var maxCharactersNumber = 10; // Máximo de caracteres para campos de número
    var maxCharactersSerach = 30;

    // Función para manejar el evento de entrada y limitar la longitud de los campos de entrada
    function handleInput(event) {
      if (
        event.target.type === "text" &&
        event.target.value.length > maxCharactersText
      ) {
        event.target.value = event.target.value.substring(0, maxCharactersText); // Limita a maxCharactersText para campos de texto
      } else if (
        event.target.type === "number" &&
        event.target.value.length > maxCharactersNumber
      ) {
        event.target.value = event.target.value.substring(
          0,
          maxCharactersNumber
        ); // Limita a maxCharactersNumber para campos de número
      } else if (
        event.target.type === "search" &&
        event.target.value.length > maxCharactersSerach
      ) {
        event.target.value = event.target.value.substring(0, maxCharactersSerach); // Limita a maxCharactersText para campos de texto
      }
    }

    // Agregar evento de entrada a todos los campos de entrada
    var inputFields = document.querySelectorAll("input");
    inputFields.forEach(function (input) {
      input.addEventListener("input", handleInput);
    });
  });
</script>

<!-- SOLO PERMITE AGREGAR UN UNICO ESPACIO EN TODOS LOS INPUTS-->
<script>
  // Función para mantener solo un espacio entre palabras en los campos de entrada de texto
  function limitarEspacios(event) {
    // Obtener el valor actual del campo
    var valorCampo = event.target.value;
    // Reemplazar múltiples espacios por uno solo
    var valorSinEspaciosRepetidos = valorCampo.replace(/\s+/g, " ");
    // Actualizar el valor del campo con un solo espacio entre palabras
    event.target.value = valorSinEspaciosRepetidos;
  }

  // Seleccionar todos los campos de entrada de texto y textarea
  var inputspace = document.querySelectorAll(
    'input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], textarea'
  );

  // Agregar evento de escucha para cada campo de entrada
  inputspace.forEach(function (input) {
    input.addEventListener("input", limitarEspacios);
  });
</script>

<!-- EVITA EL USO DE COMILLAS EN TODOS LOS CAMPOS-->
<script>
  // Función para eliminar comillas simples y dobles de todos los campos de entrada
  document.querySelectorAll("input").forEach(function (input) {
    input.addEventListener("input", function (event) {
      // Obtener el valor actual del campo de entrada
      var inputValue = event.target.value;
      // Eliminar comillas simples y comillas dobles del valor actual
      var cleanedValue = inputValue.replace(/['"]+/g, "");
      // Actualizar el valor del campo de entrada sin comillas simples y comillas dobles
      event.target.value = cleanedValue;
    });
  });
</script>
{% endblock %}