{% extends 'top navbar/top-navbar.html' %} {% block title %} Manage Companies {%
endblock %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/sales.css') }}"
/>

<!-- DISEÑO PARA EL DROP MENU-->
<style>
  /* Estilos para el buscador */
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    margin: 8px 0 0;
    max-width: 376px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0.5rem 0;
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dcdcdc; /* Borde */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }

  .dropdown-item {
    padding: 0.2rem 1rem;
    cursor: pointer;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  .dropdown-item:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el ratón */
  }

  .dropdown-item:focus {
    background-color: #e6e6e6; /* Cambio de color al hacer foco */
    outline: none; /* Eliminar el contorno por defecto */
  }

  .dropdown-item.selected {
    background-color: #e6e6e6; /* Cambio de color cuando está seleccionado */
  }

  /* Estilos para el contenedor de información */
  .product-info {
    display: flex;
    flex-wrap: wrap;
  }

  /* Estilos para los elementos de información */
  .product-info > div {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  /* Estilo para la raya vertical */
  .product-info > .divider {
    border-right: 1px solid #dcdcdc;
    padding-right: 1rem;
    margin-right: 1rem;
  }

  /* Media query para hacer el menú desplegable responsivo */
  @media (max-width: 465px) {
    .dropdown-menu {
      width: calc(100% - 20px);
      max-width: calc(100% - 20px);
      left: 50%;
      transform: translateX(-50%);
      margin: 8px 10px 0;
      position: relative;
      overflow-x: auto;
    }
  }
</style>

<!-- DISEÑO PARA TENER TABLAS MAS PRESENTABLES-->
<style>
  .table-rounded {
    border-radius: 10px; /* Redondear las esquinas de la tabla */
    border: 2px solid #ccc; /* Agregar un borde de 2px sólido con color gris */
    overflow: hidden; /* Permitir que el contenido desborde los bordes redondeados */
    background-color: rgba(128, 128, 128, 0.252);
  }
</style>

<style>
  .no-margin {
    margin: 0;
  }
</style>

<!-- ESTILOS PARA EL DISEÑO DE LOS BOTONES AL AGREGAR PRODUCTOS-->
<style>
  .transition-effect {
    transition: all 0.3s ease-in-out;
  }

  .custom-btn {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 6px; /* Ligero redondeo para las esquinas */
    padding: 20px; /* Espaciado interno para mantener proporción del contenido */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra externa para efecto 3D */
    width: 97px; /* Tamaño cuadrado */
    height: 97px; /* Tamaño cuadrado */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(
      to top,
      #ffffff,
      #f1f1f1
    ); /* Gradiente suave para efecto 3D */
  }

  .custom-btn:hover {
    background-color: #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al pasar el ratón */
  }

  .custom-tooltip .tooltip-inner {
    background-color: #343a40;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 4px;
    padding: 5px 10px;
    max-width: 200px;
    text-align: center;
  }

  .custom-tooltip .arrow::before {
    border-top-color: #343a40;
  }

  .product-name {
    font-size: 13px;
    word-wrap: break-word; /* Permite que el texto se divida si no cabe horizontalmente */
    text-align: center;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<!-- ESTILO PARA LAS TOAST WARNING-->
<style>
  /* Estilo personalizado para el toast */
  #toastContainer .toast {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.75rem;
    background-color: #f8f9fa; /* Color de fondo similar al de las alertas de Apple */
    border: 1px solid rgba(0, 0, 0, 0.125); /* Borde similar al de las alertas de Apple */
    color: #212529; /* Color del texto */
    border-radius: 4px;
  }

  /* Estilo para el título del toast */
  #toastContainer .toast-header {
    background-color: #ffc107;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  /* Estilo para el cuerpo del toast */
  #toastContainer .toast-body {
    padding: 0.5rem 0;
  }

  /* Estilo para el botón de cerrar el toast */
  #toastContainer .btn-close {
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0 0.25rem auto;
  }
</style>

<!-- ESTILO PARA LAS TOAST SUCCESS-->
<style>
  /* Estilo personalizado para el toast con ID toastContainerSuccess */
  #toastContainerSuccess .toast {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.75rem;
    background-color: #f8f9fa; /* Color de fondo similar al de las alertas de Apple */
    border: 1px solid rgba(0, 0, 0, 0.125); /* Borde similar al de las alertas de Apple */
    color: #212529; /* Color del texto */
    border-radius: 4px;
  }

  /* Estilo para el título del toast */
  #toastContainerSuccess .toast-header {
    background-color: #4cd964;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  /* Estilo para el cuerpo del toast */
  #toastContainerSuccess .toast-body {
    padding: 0.5rem 0;
  }

  /* Estilo para el botón de cerrar el toast */
  #toastContainerSuccess .btn-close {
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0 0.25rem auto;
  }
</style>

<!-- ESTILOS PARA EL CONTENEDOR DEL SPINNER Y EL SPPNNER-->
<style>
  #spinner-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo opaco */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el spinner esté por encima de todo */
  }

  #spinner {
    z-index: 1001; /* Asegura que el spinner esté por encima del fondo opaco */
  }
</style>

<!-- CUERPO -->
<div class="container-fluid mt-5">
  <!-- Agregamos la clase mt-5 para añadir margen superior -->
  <div class="row mx-2 mt-5">
    <h6 class="mt-1 d-none d-sm-flex">Manage Sales</h6>

    {% include 'top navbar/top-width-navbar.html' %}

    <div class="col-12 col-lg-9 mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md col-lg-6 my-2">
            <!-- Para pantallas pequeñas, ocupará el ancho completo; para medianas y grandes, ocupará 6 columnas -->
            <div class="input-group">
              <input
                id="searchInput"
                class="form-control"
                type="search"
                placeholder="Search Product"
                aria-label="Search Product"
              />
              <button
                id="addButton"
                type="button"
                class="btn btn-outline-primary btn-sm ms-2"
              >
                <span data-section="Sale" data-value="Add Product"
                  >Add Product</span
                >
              </button>
            </div>
            <div id="searchResults" class="dropdown-menu"></div>
          </div>
          <div class="col-md col-lg-6 my-2">
            <!-- Para pantallas pequeñas, ocupará el ancho completo; para medianas y grandes, ocupará 6 columnas -->
            <button id="addSale" type="button" class="btn btn-success w-100">
              <span data-section="Sale" data-value="Make sale">Make sale</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Utilizamos clases de Bootstrap para diseño responsivo y espaciado -->

      <div class="row">
        <div class="col-md-5">
          <div
            class="buttons mt-3 border border-Tertiary p-3 rounded d-flex flex-wrap justify-content-center align-items-center"
            style="max-height: 500px; overflow-y: auto"
          >
            {% for product in products %}
            <div
              class="col mb-2 d-flex justify-content-center align-items-center"
              style="display: none"
            >
              <a
                class="btn custom-btn mx-1 product-btn"
                data-id="{{ product[0] }}"
                data-name="{{ product[1] }}"
                data-price="{{ product[2] }}"
                data-amount="{{ product[3] }}"
                data-status="{{ product[4] }}"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                title="ID: {{ product[0] }} &#10;Name: {{ product[1] }} &#10;Price: {{ product[2] }}$ &#10;Stock: {{ product[3] }} &#10;Status: {{ product[4] }}"
              >
                <div class="d-flex flex-column align-items-center">
                  <span class="material-symbols-outlined"> inventory_2 </span>
                  <span class="product-name"> {{ product[1] }} </span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>

        <div
          class="col-md-7 mt-3 flex-wrap justify-content-center align-items-start"
        >


        <div class="container mb-1">
          <div class="row">
            <div class="col-md-8"> <!-- Columna para los totales -->
              <div class="total-container d-flex justify-content-start mt-1">
                <h6 id="totalSum"></h6>
              </div>
        
              <div class="total-container d-flex justify-content-start mt-1">
                <h6 id="totalSumIVA"></h6>
              </div>
        
              <div class="total-container d-flex justify-content-start mt-1">
                <h6 id="totalSumALL"></h6>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-end justify-content-end"> <!-- Columna para el botón -->
              <div class="total-container d-flex justify-content-end mt-1">
                <button class="btn btn-outline-secondary w-100" id="updateTotalButton">
                  <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                  Actualizar total
                </button>
              </div>
            </div>
          </div>
        </div>
        
        
        

          <div
            class="table-responsive"
            style="max-height: 400px; overflow-y: auto"
          >
            <table
              id="saleTable"
              class="table table-bordered table-striped table-rounded mb-3"
            >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">id</th>
                  <th scope="col">
                    <span data-section="Sale" data-value="Name">Name</span>
                  </th>
                  <th scope="col">
                    <span data-section="Sale" data-value="Quantity"
                      >Quantity</span
                    >
                  </th>
                  <th scope="col">
                    <span data-section="Sale" data-value="Price">Price</span>
                  </th>
                  <th scope="col">
                    <span data-section="Sale" data-value="Actions"
                      >Actions</span
                    >
                  </th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <!-- Aquí se añadirán dinámicamente las filas de los productos -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TOAST DE ALERTAS-->
<div
  id="toastContainer"
  aria-live="assertive"
  aria-atomic="true"
  class="mt-5 position-fixed p-3 end-0 bottom-0"
></div>

<!-- TOAST DE SUCESS-->
<div
  id="toastContainerSuccess"
  aria-live="assertive"
  aria-atomic="true"
  class="mt-5 position-fixed p-3 end-0 bottom-0"
></div>

<!-- Spinner -->
<div id="spinner-container" style="display: none">
  <div
    class="spinner-border text-light"
    style="width: 3rem; height: 3rem"
    role="status"
    id="spinner"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- MUESTRA EL TOTAL DE LA COMPRA -->
<script>
  function sumTableNumbers() {
    let table = document.getElementById("saleTable");
    let rows = table.getElementsByTagName("tr");
    let total = 0.0;

    // Crear un array para almacenar los subtotales de cada producto
    let subtotals = [];

    // Iterar sobre las filas y calcular los subtotales de cada producto
    for (let i = 1; i < rows.length; i++) {
        let cells = rows[i].getElementsByTagName("td");
        if (cells.length > 0) {
            let price = parseFloat(cells[3].innerText);
            let quantity = parseFloat(cells[2].querySelector("input").value);
            let subtotal = price * quantity;
            subtotals.push(subtotal);
        }
    }

    // Sumar todos los subtotales para obtener el subtotal total
    let subtotal = subtotals.reduce((acc, val) => acc + val, 0);

    // Calcular el total con IVA
    let totalWithIVA = (subtotal * 1.16).toFixed(2);
    
    // Calcular el total de la compra
    let totalTotalWithIVA = (subtotal * 1.16).toFixed(2);

    // Actualizar los elementos HTML con los resultados
    document.getElementById("totalSum").innerText = "Subtotal: " + subtotal.toFixed(2) + "$";
    document.getElementById("totalSumIVA").innerText = "Total de la compra con IVA: " + totalWithIVA + "$";
    document.getElementById("totalSumALL").innerText = "Total de la compra: " + totalTotalWithIVA + "$";
}


  // Crear un MutationObserver para observar cambios en el tbody de la tabla
  const targetNode = document.querySelector("#saleTable tbody");
  const config = {
    childList: true,
    subtree: true,
    characterData: true,
    attributes: true,
  };

  const callback = function (mutationsList, observer) {
    for (const mutation of mutationsList) {
      if (
        mutation.type === "childList" ||
        mutation.type === "characterData" ||
        mutation.type === "attributes"
      ) {
        sumTableNumbers(); // Llamar a sumTableNumbers en cada mutación observada
      }
    }
  };

  const observer = new MutationObserver(callback);
  observer.observe(targetNode, config);

  // Observar cambios en los inputs de cantidad específicamente
  const inputElements = document.querySelectorAll(
    "#saleTable tbody tr td:nth-child(3) input"
  );
  inputElements.forEach((input) => {
    input.addEventListener("input", sumTableNumbers);
  });

  document.getElementById("updateTotalButton").addEventListener("click", function() {
    // Mostrar el spinner
    document.getElementById("spinner").classList.remove("d-none");

    // Llamar a la función sumTableNumbers después de un pequeño retraso para simular el tiempo de procesamiento
    setTimeout(function() {
      sumTableNumbers();

      // Ocultar el spinner después de que se completen los cálculos
      document.getElementById("spinner").classList.add("d-none");
    }, 500); // Puedes ajustar este valor según sea necesario
  });

  // Llamar a la función para calcular la suma cuando se carga la página
  window.onload = sumTableNumbers;
</script>

<!-- SCRIPT PARA CARGAR TOOLTIPS -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tooltipTriggerList = document.querySelectorAll(
      '[data-bs-toggle="tooltip"]'
    );
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
      const tooltip = new bootstrap.Tooltip(tooltipTriggerEl);
      tooltipTriggerEl.addEventListener("click", function () {
        // Cerrar el tooltip al hacer clic en el elemento
        tooltip.hide();
      });
      tooltipTriggerEl.addEventListener("mouseleave", function () {
        // Cerrar el tooltip cuando el mouse sale del elemento
        tooltip.hide();
      });
    });
  });
</script>

<!-- SCRIPT PARA MOSTRAR CORRECTAMENTE LOS NOMBRES -->
<script>
  // Reemplazar guiones bajos "_" por espacios en blanco en los nombres de productos
  document.querySelectorAll(".product-name").forEach(function (element) {
    element.innerText = element.innerText.replace(/_/g, " ");
  });
</script>

<!-- EVITA EL USO DE COMILLAS EN TODOS LOS CAMPOS-->
<script>
  // Función para eliminar comillas simples y dobles de todos los campos de entrada
  document.querySelectorAll("input").forEach(function (input) {
    input.addEventListener("input", function (event) {
      // Obtener el valor actual del campo de entrada
      var inputValue = event.target.value;
      // Eliminar comillas simples y comillas dobles del valor actual
      var cleanedValue = inputValue.replace(/['"]+/g, "");
      // Actualizar el valor del campo de entrada sin comillas simples y comillas dobles
      event.target.value = cleanedValue;
    });
  });
</script>

<!-- MUESTA MENSAJE DE BOTONES Y LISTA VACIOS (AS)-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Verificar si el contenedor de botones está vacío
    const buttonsContainer = document.querySelector(".buttons");
    if (!buttonsContainer || buttonsContainer.children.length === 0) {
      const emptyButtonsMessage = document.createElement("p");
      emptyButtonsMessage.textContent = "Lista de elementos vacía.";
      buttonsContainer.appendChild(emptyButtonsMessage);
    }
  });
</script>

<!-- SCRIPT PARA AGREGAR PRODUCTOS A LA TABLA MEDIANTE LA BARRA DE BUSQUEDA O LOS BOTONES -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".product-btn");
    const tableBody = document.querySelector(".table-group-divider");
    const searchInput = document.getElementById("searchInput");
    const searchResults = document.getElementById("searchResults");
    const addButton = document.getElementById("addButton");
    let selectedProduct = null;

    // Función para agregar un producto a la tabla
    function addProductToTable(productInfo) {
      const existingProduct = Array.from(tableBody.querySelectorAll("tr")).find(
        (row) => row.dataset.id === productInfo[0]
      );

      if (existingProduct) {
        showToast("El producto ya está en la tabla.", "error");
        return;
      }

      if (parseInt(productInfo[2]) <= 0) {
        showToast(
          "No hay suficientes existencias para agregar este producto.",
          "error"
        );
        return;
      }

      const newRow = document.createElement("tr");
      newRow.dataset.id = productInfo[0];
      newRow.innerHTML = `
        <th scope="row" style="text-align: center; margin: auto;">${
          tableBody.querySelectorAll("tr").length + 1
        }</th>
        <td style="text-align: center; margin: auto;">${productInfo[0]}</td>
        <td>${productInfo[1]}</td>
        <td style="text-align: center;">
          <input type="number" class="form-control" value="1" min="1" max="${
            productInfo[2]
          }" onkeydown="return false" onpaste="return false" onfocus="this.blur();" style="background: transparent; border: none; padding: 0; width: 80px; font-size: 17px; text-align: center; margin: auto;" />
        </td>
        <td style="text-align: center; margin: auto;">${productInfo[3]}$</td>
        <td class="text-center d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-danger mx-2" onclick="deleteProduct(this)">
            <span class="material-symbols-outlined"> delete_forever </span>
          </button>
        </td>
      `;

      tableBody.appendChild(newRow);
    }

    // Event listener para los botones de productos
    buttons.forEach((button, index) => {
      button.addEventListener("click", function () {
        const productInfo = [
          this.dataset.id,
          this.dataset.name,
          this.dataset.amount,
          this.dataset.price,
        ];
        addProductToTable(productInfo);
      });
    });

    // Event listener para el campo de búsqueda
    searchInput.addEventListener("input", function () {
      const searchTerm = this.value.toLowerCase();
      const matchingProducts = Array.from(buttons).filter((button) =>
        button.dataset.name.toLowerCase().includes(searchTerm)
      );

      searchResults.innerHTML = "";

      matchingProducts.forEach((product) => {
        const listItem = document.createElement("div");
        listItem.classList.add("dropdown-item");
        listItem.innerHTML = `
          <div class="product-info border-bottom border-2 border-dark">
            <div class="divider">ID: ${product.dataset.id}</div>
            <div>Name: ${product.dataset.name}</div>
            <div>Price: ${product.dataset.price}$</div>
            <div>Amount: ${product.dataset.amount}</div>
          </div>
        `;
        listItem.addEventListener("click", function () {
          searchResults.querySelectorAll(".dropdown-item").forEach((item) => {
            item.classList.remove("selected");
          });
          listItem.classList.add("selected");
          selectedProduct = product;
        });
        searchResults.appendChild(listItem);
      });

      searchResults.style.display =
        matchingProducts.length > 0 ? "block" : "none";
    });

    // Cerrar el menú de búsqueda y limpiar el campo de búsqueda cuando se hace clic fuera de él
    document.addEventListener("click", function (event) {
      if (
        !searchResults.contains(event.target) &&
        event.target !== searchInput
      ) {
        searchResults.style.display = "none";
        selectedProduct = null;
        searchInput.value = ""; // Limpiar el contenido del campo de búsqueda
      }
    });

    // Event listener para el botón de agregar
    addButton.addEventListener("click", function () {
      if (!selectedProduct) {
        showToast("No hay ningún producto seleccionado.", "warning");
        return;
      }
      addProductToTable([
        selectedProduct.dataset.id,
        selectedProduct.dataset.name,
        selectedProduct.dataset.amount,
        selectedProduct.dataset.price,
      ]);
    });
  });

  function deleteProduct(button) {
    const row = button.closest("tr");
    row.remove();
  }

  // Función para mostrar toasts personalizados
  function showToast(message, type) {
    const toastContainer = document.getElementById("toastContainer");
    const toast = document.createElement("div");
    toast.classList.add("toast");
    toast.classList.add("show");
    toast.setAttribute("role", "alert");
    toast.setAttribute("aria-live", "assertive");
    toast.setAttribute("aria-atomic", "true");
    toast.setAttribute("data-bs-autohide", "true");

    // Obtener la hora actual
    const currentTime = new Date().toLocaleTimeString();

    toast.innerHTML = `
      <div class="toast-header">
        <i class="fas fa-exclamation-circle"></i>
        <strong class="me-auto mx-2">Warning!</strong>
        <small>${currentTime}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body mt-1">
        ${message}
      </div>
    `;
    toastContainer.appendChild(toast);
    const bsToast = new bootstrap.Toast(toast);
    bsToast.show();
    toast.addEventListener("hidden.bs.toast", function () {
      toast.remove();
    });
  }
</script>

<!-- SCRIPT PARA ENVIAR LOS DATOS AL SERVIDOR -->
<script>
  document.getElementById("addSale").addEventListener("click", function () {
    const salesData = obtenerDatosTabla(); // Función para obtener los datos de la tabla

    // Verificar si la tabla está vacía
    if (salesData.length === 0) {
      showToast(
        "La tabla está vacía. Por favor, agregue productos antes de realizar una venta.",
        "warning"
      );
      return;
    }

    // Mostrar el spinner de carga
    document.getElementById("spinner-container").style.display = "flex";

    const xhr = new XMLHttpRequest();
    const url = "/sales/addsalesworker";
    const method = "POST";

    xhr.open(method, url);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onload = function () {
      // Ocultar el spinner de carga después de la respuesta
      document.getElementById("spinner-container").style.display = "none";

      if (xhr.status === 200) {
        console.log("Success:", xhr.responseText);
        showToastSuccess("Venta realizada con éxito.");
        setTimeout(() => {
          location.reload(); // Recargar la página después de 1 segundo
        }, 1000); // 1000 milisegundos = 1 segundo
      } else {
        console.error("Error:", xhr.statusText);
      }
    };
    xhr.onerror = function () {
      console.error("Error:", xhr.statusText);
    };
    xhr.send(JSON.stringify(salesData));
  });

  function obtenerDatosTabla() {
    const rows = document.querySelectorAll("#saleTable tbody tr");
    const salesData = [];

    rows.forEach((row) => {
      const dataId = row.getAttribute("data-id");
      const cells = row.querySelectorAll("td");
      const rowData = { id: dataId };

      cells.forEach((cell, index) => {
        let cellValue;
        if (cell.querySelector("input")) {
          cellValue = cell.querySelector("input").value;
        } else {
          cellValue = cell.textContent.trim();
        }

        switch (index) {
          case 2: // Quantity is in the 3rd column (index 2)
            rowData.quantity = cellValue;
            break;
          case 3: // Name is in the 4th column (index 3)
            rowData.productName = cellValue;
            break;
          case 4: // Price is in the 5th column (index 4)
            rowData.price = cellValue;
            break;
        }
      });

      salesData.push(rowData);
    });
    return salesData;
  }

  // Función para mostrar toasts personalizados
  function showToast(message, type) {
    const toastContainer = document.getElementById("toastContainer");
    const toast = document.createElement("div");
    toast.classList.add("toast");
    toast.classList.add("show");
    toast.setAttribute("role", "alert");
    toast.setAttribute("aria-live", "assertive");
    toast.setAttribute("aria-atomic", "true");
    toast.setAttribute("data-bs-autohide", "true");

    // Obtener la hora actual
    const currentTime = new Date().toLocaleTimeString();

    toast.innerHTML = `
      <div class="toast-header">
        <i class="fas fa-exclamation-circle"></i>
        <strong class="me-auto mx-2">Warning!</strong>
        <small>${currentTime}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body mt-1">
        ${message}
      </div>
    `;
    toastContainer.appendChild(toast);
    const bsToast = new bootstrap.Toast(toast);
    bsToast.show();
    toast.addEventListener("hidden.bs.toast", function () {
      toast.remove();
    });
  }

  // Función para mostrar toasts de éxito
  function showToastSuccess(message) {
    const toastContainer = document.getElementById("toastContainerSuccess");
    const toast = document.createElement("div");
    toast.classList.add("toast");
    toast.classList.add("show");
    toast.setAttribute("role", "alert");
    toast.setAttribute("aria-live", "assertive");
    toast.setAttribute("aria-atomic", "true");
    toast.setAttribute("data-bs-autohide", "true");

    // Obtener la hora actual
    const currentTime = new Date().toLocaleTimeString();

    toast.innerHTML = `
      <div class="toast-header">
        <i class="fas fa-check-circle"></i>
        <strong class="me-auto mx-2">Success!</strong>
        <small>${currentTime}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body mt-1">
        ${message}
      </div>
    `;
    toastContainer.appendChild(toast);
    const bsToast = new bootstrap.Toast(toast);
    bsToast.show();
    toast.addEventListener("hidden.bs.toast", function () {
      toast.remove();
    });
  }
</script>
{% endblock %}
