{% extends 'top navbar/top-navbar.html' %} {% block title %} Manage Companies {%
endblock %} {% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/products.css') }}" />

<section class="usuarios">

  {% include 'top navbar/top-width-navbar.html' %}

  <div class="usuarios__container">
    <h2 class="titulo-inventario">Cajeros</h2>
    <p class="desc-inventario">Aquí encontrarás las herramientas para gestionar y supervisar a los cajeros de manera
      efectiva.
    </p>


    <div class="d-flex flex-wrap mt-3">
      <div class="col-md-12 mt-3 flex-wrap justify-content-center align-items-start">
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto">
          <table class="tabla" id="intermedaries-table">
            <thead class="tabla-encabezado">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">
                  <span data-section="manage-intermediary" data-value="">Nombre</span>
                </th>
                <th scope="col" >
                  <span  data-section="werehouse" data-value="">Correo</span>
                </th>
                <th scope="col">
                  <span data-section="werehouse" data-value="">Status</span>
                </th>
                <th scope="col">
                  <span data-section="werehouse" data-value="">Rol</span>
                </th>
                <th scope="col">
                  <span data-section="manage-intermediary" data-value="Actions">Acciones</span>
                </th>
              </tr>
            </thead>
            <tbody class="tabla-cuerpo">
              {% for relation in relations %}
              <tr data-relation-id="{{ relation[0] }}">
                <th scope="row">{{ relation[0] }}</th>
                <td>{{ relation[1] ~ ' ' ~ relation[2] ~ ' ' ~ relation[3] }}</td>
                <td style="padding-inline: 1px;">{{ relation[4] }}</td>
                <td>{{ relation[5] }}</td>
                <td > <span class="rolid">{{ relation[6] }}</span></td>
                <td class="text-center d-flex justify-content-center align-items-center">
                  <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal"
                    data-bs-target="#deleteCompany" data-Intermediary-id="{{ relation[0] }}"
                    onclick="setIntermediaryId('{{ relation[0] }}')">
                    <i class="bi bi-trash3-fill"></i>

                    <!-- <span class="material-symbols-outlined">delete_forever</span> -->
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<!--ELIMINAR INTERMEDIARIOS MODAL-->
<div class="modal fade" id="deleteCompany" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteCompanyLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar empleado</h5>
        <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">
          ¿Estas seguro de eliminar este empleado?
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Cerrar
        </button>
        <form id="delete-product-form" action="{{ url_for('accounts.manage_accounts') }}" method="post">
          <input type="hidden" name="action" value="delete">
          <input id="ValueIntermediaryId" type="hidden" name="DeleteIntermediaryId" value="" />
          <button id="delete-company-btn" type="submit" class="btn btn-danger">
            Eliminar empleado
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MOSTRAR EL MODAL PARA MOSTRAR ERRORES Y MENSAJES  -->
<script src="{{ url_for('static', filename='js/cuentas.js') }}"></script>

{% endblock %}