{% extends 'top navbar/top-navbar.html' %}
{% block title %} profile {% endblock%}

{%block content %}
<style>
  /*Desaparecer el scroll*/
  ::-webkit-scrollbar {
    display: none;
  }

  .btn-primary {
    width: 140px;
  }
</style>

<div class="container-fluid  animate__animated animate__fadeIn">

  <div class="d-flex justify-content-center align-items-center" style="height: 90vh">
    <div class="col-xl-10 d-flex flex-column align-items-center  text-center">
      <div class="row">
        <h1>Bienvenido a Fynex <br><span class="text-capitalize ">¡{{ user }}!</span></h1>
        <p class="fs-5 my-2 ">¡Organiza tu trabajo y mejora tu desempeño con nosotros aquí!</p>
      </div>
      <a href="{{ url_for('sales.addsalesworker') }}" class="btn btn-primary  mt-2"><span data-section="welcome"
          data-value="shortcut">Entrar</span></a>
    </div>
  </div>

</div>

{% endblock %}