{% extends 'top navbar/top-navbar.html' %}
{% block title %} Inicio {% endblock%}

{%block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}" />


<!--Pagina principal-->
<section class="inicio">

  <div class="textos__container">

    <button class="inicio__btn inicio__btn--titulo">Potencia tus ventas</button>

    <h1 class="inicio__titulo">Potencia Tus Ventas <br> con un Dashboard Moderno <br> de Gestión
    </h1>
    <p class="inicio__desc">Facilita la comunicación y transforma tu experiencia de gestión de ventas con nuestro
      avanzado panel de control.
    </p>
    <a href="{{ url_for('auth.signin') }}">
      <button class="inicio__btn">Empezar</button>
    </a>
  </div>

  <figure class="inicio__img--figure">
    <img src="/static/img/arc.png" class="inicio__img--img">
  </figure>


</section>

<!-- <div class="container-fluid mx-4">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <figure class="text-center animate__animated animate__fadeIn">
      <blockquote class="blockquote">
        <p>Una experiencia agradable para gestionar tus almacenes.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Saletrackstar</cite>
      </figcaption>
    </figure>
  </div>
</div> -->

{% endblock %}