{% extends 'top navbar/top-navbar.html' %} {% block title %} Inicio {% endblock
%} {%block content %}
<style>
  ::-webkit-scrollbar {
    display: none;
  }
</style>
<div class="container-fluid mx-4">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <figure class="text-center animate__animated animate__fadeIn">
      <blockquote class="blockquote">
        <p>Una experiencia agradable para gestionar tus almacenes.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
         <cite title="Source Title">Saletrackstar</cite>
      </figcaption>
    </figure>
  </div>
</div>

<!-- DIV OCULTO PARA GUARDAR LOS MENSAJES -->
<div id="flash-messages" style="display: none;">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<!-- MOTAL PARA MOSTRAR FLASH -->
<div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flashModalLabel">Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="flashModalBody">
        <!-- LOS MENSAJES SE MOSTRARAN AQUI -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- MOSTRAR EL MODAL PARA MOSTRAR ERRORES Y MENSAJES  -->
<script>
  $(document).ready(function () {
    var flashMessages = $('#flash-messages').html().trim();
    if (flashMessages) {
      $('#flashModalBody').html(flashMessages);
      $('#flashModal').modal('show');
    }
  });
</script>
{% endblock %}
